.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u55398-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55394-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55392-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55399-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55395-4
{
	font-family: open-sans-n3, sans-serif;
}

#u49754-4,#u46618-4,#u46618-6,#u46617-7,#u49735-4,#u49664-4,#u49665-4,#u49666-4,#u49668-4,#u49667-4,#u49669-4,#u49670-4,#u49673-4,#u49671-4,#u49672-4,#u49674-4,#u49675-4
{
	font-family: open-sans-n4, sans-serif;
}

