.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u55333-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55329-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55327-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55334-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55330-4
{
	font-family: open-sans-n3, sans-serif;
}

#u50109-2
{
	font-family: open-sans-n3, sans-serif;
}

#u50116-4,#u50109-4,#u50113-4,#u50913-4,#u50127-4,#u50128-4,#u50112-4,#u50138-4,#u50104-4,#u50150-4,#u50133-4,#u50110-4,#u50111-4,#u50117-4,#u50153-4,#u50141-4
{
	font-family: open-sans-n4, sans-serif;
}

