.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u55284-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55280-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55278-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55285-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55281-4
{
	font-family: open-sans-n3, sans-serif;
}

#u51223-2
{
	font-family: open-sans-n7, sans-serif;
}

#u51221-7,#u51223-4,#u51223-6,#u51226-4,#u51227-4,#u51228-4,#u50384-4,#u50385-4,#u50386-4,#u50388-4,#u50387-4,#u50389-4,#u50390-4,#u50393-4,#u50391-4,#u50392-4,#u50394-4,#u50395-4
{
	font-family: open-sans-n4, sans-serif;
}

