.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u55296-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55292-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55290-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55297-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55293-4
{
	font-family: open-sans-n3, sans-serif;
}

#u51302-6.AccordionPanelTabOpen p,#u51302-6.AccordionPanelTabOpen span,#u51321-6.AccordionPanelTabOpen p,#u51321-6.AccordionPanelTabOpen span,#u51334-6.AccordionPanelTabOpen p,#u51334-6.AccordionPanelTabOpen span,#u51432-5
{
	font-family: open-sans-n4, sans-serif;
}

#u51445-5
{
	font-family: open-sans-n4, sans-serif;
}

#u51451-5
{
	font-family: open-sans-n4, sans-serif;
}

#u51302-6
{
	font-family: open-sans-n4, sans-serif;
}

#u51299-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51296-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51300-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51298-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51301-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51297-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51321-6
{
	font-family: open-sans-n4, sans-serif;
}

#u51327-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51326-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51331-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51330-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51328-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51329-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51334-6
{
	font-family: open-sans-n4, sans-serif;
}

#u51345-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51343-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51339-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51340-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51342-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51341-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51344-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51507-5
{
	font-family: open-sans-n4, sans-serif;
}

#u51523-5
{
	font-family: open-sans-n4, sans-serif;
}

#u51531-5
{
	font-family: open-sans-n4, sans-serif;
}

#u51432,#u51445,#u51451,#u51507,#u51523,#u51531
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u50428-4,#u50429-4,#u50430-4,#u50432-4,#u50431-4,#u50433-4,#u50434-4,#u50437-4,#u50435-4,#u50436-4,#u50438-4,#u50439-4
{
	font-family: open-sans-n4, sans-serif;
}

