.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u54626.TabbedPanelsTabSelected #u54627-4 p,#u54626.TabbedPanelsTabSelected #u54627-4 span,#u54622.TabbedPanelsTabSelected #u54625-4 p,#u54622.TabbedPanelsTabSelected #u54625-4 span,#u46184.PamphletThumbSelected #u46185-4 p,#u46184.PamphletThumbSelected #u46185-4 h2,#u54704.TabbedPanelsTabSelected #u54707-4 p,#u54704.TabbedPanelsTabSelected #u54707-4 span,#u54699.TabbedPanelsTabSelected #u54700-4 p,#u54699.TabbedPanelsTabSelected #u54700-4 span,#u54694.TabbedPanelsTabSelected #u54697-4 p,#u54694.TabbedPanelsTabSelected #u54697-4 span,#u54618.TabbedPanelsTabSelected #u54619-4 p,#u54618.TabbedPanelsTabSelected #u54619-4 span,#u41384.PamphletThumbSelected #u41385-4 p,#u41384.PamphletThumbSelected #u41385-4 h2,#u41787.PamphletThumbSelected #u41788-4 p,#u41787.PamphletThumbSelected #u41788-4 h2,#u41785.PamphletThumbSelected #u41786-4 p,#u41785.PamphletThumbSelected #u41786-4 h2,#u41789.PamphletThumbSelected #u41790-4 p,#u41789.PamphletThumbSelected #u41790-4 h2,#u41382.PamphletThumbSelected #u41383-4 p,#u41382.PamphletThumbSelected #u41383-4 h2,#u41386.PamphletThumbSelected #u41387-4 p,#u41386.PamphletThumbSelected #u41387-4 h2,#u48605-4
{
	font-family: open-sans-n3, sans-serif;
}

#u26432-4
{
	font-family: open-sans-n3, sans-serif;
}

#u26430-4
{
	font-family: open-sans-n3, sans-serif;
}

#u48593-4
{
	font-family: open-sans-n3, sans-serif;
}

#u26433-4
{
	font-family: open-sans-n3, sans-serif;
}

#u46733-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48720-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48747-5
{
	font-family: open-sans-n4, sans-serif;
}

#u46733,#u48720,#u48747
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u54020-4
{
	font-family: arimo-n4, sans-serif;
}

#u54738-4,#u54739-4,#u54740-14,#u54863-4,#u54864-4,#u54865-14,#u54920-4,#u54921-4,#u54922-14,#u54977-4,#u54978-4,#u54979-14,#u55034-4,#u55035-4,#u55036-14,#u55091-4,#u55092-4,#u55093-14,#u47939-4,#u48026-4,#u47940-4,#u47942-4,#u47954-4,#u47953-4,#u47957-4,#u47956-4,#u47944-4,#u47952-4,#u47951-4,#u47955-4
{
	font-family: open-sans-n4, sans-serif;
}

