.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u55269-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55267-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55266-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55268-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55270-4
{
	font-family: open-sans-n3, sans-serif;
}

#u50815-6.AccordionPanelTabOpen p,#u50815-6.AccordionPanelTabOpen span,#u51565-6.AccordionPanelTabOpen p,#u51565-6.AccordionPanelTabOpen span,#u50747-6.AccordionPanelTabOpen p,#u50747-6.AccordionPanelTabOpen span,#u50869-6.AccordionPanelTabOpen p,#u50869-6.AccordionPanelTabOpen span,#u50747-6
{
	font-family: open-sans-n4, sans-serif;
}

#u50754-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50755-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50757-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50752-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50753-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50756-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50815-6
{
	font-family: open-sans-n4, sans-serif;
}

#u50820-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50821-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50822-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50824-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50825-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50823-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50869-6
{
	font-family: open-sans-n4, sans-serif;
}

#u50879-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50877-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50876-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50878-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50875-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50874-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50949-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51565-6
{
	font-family: open-sans-n4, sans-serif;
}

#u51561-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51562-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51563-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51559-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51560-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51564-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50359-4,#u50360-4,#u50361-4,#u50363-4,#u50362-4,#u50364-4,#u50365-4,#u50368-4,#u50366-4,#u50367-4,#u50369-4,#u50370-4
{
	font-family: open-sans-n4, sans-serif;
}

