.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u55308-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55304-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55302-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55309-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55305-4
{
	font-family: open-sans-n3, sans-serif;
}

#u51712,#u51729,#u51741
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u51847-6,#u51712-5,#u51729-5,#u51741-5,#u50467-4,#u50468-4,#u50469-4,#u50471-4,#u50470-4,#u50472-4,#u50473-4,#u50476-4,#u50474-4,#u50475-4,#u50477-4,#u50478-4
{
	font-family: open-sans-n4, sans-serif;
}

