.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u55346-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55342-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55340-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55347-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55343-4
{
	font-family: open-sans-n3, sans-serif;
}

#u50050-4
{
	font-family: open-sans-n3, sans-serif;
}

#u50051-4,#u50027-9,#u50908-4,#u50019-4,#u50011-4,#u50042-4,#u50017-4,#u50030-4,#u50016-4,#u50020-4,#u50021-4,#u50024-4,#u50029-4,#u50026-4,#u50015-4
{
	font-family: open-sans-n4, sans-serif;
}

