.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u55385-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55381-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55379-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55386-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55382-4
{
	font-family: open-sans-n3, sans-serif;
}

#u49789-2
{
	font-family: open-sans-n3, sans-serif;
}

#u49807-4,#u49789-4,#u49789-5,#u49797-9,#u50494-4,#u49764-4,#u49796-4,#u49788-4,#u49808-4,#u49772-4,#u49806-4,#u49798-4,#u49786-4,#u49784-4,#u49771-4,#u49805-4,#u49767-4
{
	font-family: open-sans-n4, sans-serif;
}

