.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u55372-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55368-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55366-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55373-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55369-4
{
	font-family: open-sans-n3, sans-serif;
}

#u49886-2
{
	font-family: open-sans-n3, sans-serif;
}

#u49875-4,#u49886-4,#u49886-6,#u49844-10,#u50897-4,#u49868-4,#u49878-4,#u49879-4,#u49869-4,#u49864-4,#u49890-4,#u49884-4,#u49885-4,#u49853-4,#u49867-4,#u49863-4,#u49889-4
{
	font-family: open-sans-n4, sans-serif;
}

