.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u55320-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55316-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55314-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55321-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55317-4
{
	font-family: open-sans-n3, sans-serif;
}

#u50208-4,#u50199-6,#u50199-8,#u50195-7,#u50917-4,#u50202-4,#u50193-4,#u50196-4,#u50200-4,#u50203-4,#u50197-4,#u50232-4,#u50205-4,#u50194-4,#u50225-4,#u50209-4,#u50186-4
{
	font-family: open-sans-n4, sans-serif;
}

