.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u55359-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55355-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55353-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55360-4
{
	font-family: open-sans-n3, sans-serif;
}

#u55356-4
{
	font-family: open-sans-n3, sans-serif;
}

#u49952-2
{
	font-family: open-sans-n3, sans-serif;
}

#u49927-4,#u49952-4,#u49952-6,#u49951-7,#u50901-4,#u49961-4,#u49966-4,#u49973-4,#u49960-4,#u49950-4,#u49955-4,#u49954-4,#u49943-4,#u49937-4,#u49949-4,#u49967-4,#u49976-4
{
	font-family: open-sans-n4, sans-serif;
}

