.html
{
	background-color: #E6D5C2;
}

#page
{
	z-index: 1;
	width: 1250px;
	min-height: 999.3566847872767px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E6D5C2;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 62px;
}

#pu51701
{
	width: 0.01px;
	padding-bottom: 1371px;
	left: -290px;
	position: relative;
}

#u51701
{
	z-index: 2;
	width: 1800px;
	position: fixed;
	top: -36px;
	left: -275px;
}

#u51701_img
{
	padding-right: 4px;
	padding-bottom: 24px;
}

#u55301
{
	z-index: 212;
	width: 1838px;
	position: fixed;
	top: -36px;
	left: -290px;
}

#u55308-4
{
	z-index: 226;
	width: 141px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 1126px;
}

#u55304-4
{
	z-index: 230;
	width: 115px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 1259px;
}

#u55308-4:hover,#u55304-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 29px -10000px 0px 0px;
}

#u55308-4:hover p,#u55304-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u55307-4
{
	z-index: 238;
	width: 142px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 518px;
}

#u55304-4.MuseLinkActive,#u55307-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 29px -10000px 0px 0px;
}

#pu55306
{
	z-index: 213;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u55306
{
	z-index: 0;
	width: 1838px;
	-pie-box-shadow: none;
	-moz-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 4px 4px 2px -1px rgba(0, 0, 0, 0.1);
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu55302-4
{
	width: 0.01px;
	position: relative;
	left: 650px;
	padding-top: 29px;
	z-index: 2;
	padding-bottom: 29px;
}

#u55302-4
{
	z-index: 214;
	width: 112px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u55302-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u55304-4.MuseLinkActive p,#u55307-4:hover p,#u55307-4:hover span,#u55302-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u55309-4
{
	z-index: 218;
	width: 210px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 129px;
}

#u55302-4.MuseLinkActive,#u55309-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u55302-4.MuseLinkActive p,#u55309-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u55305-4
{
	z-index: 222;
	width: 141px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#u55309-4.MuseLinkActive,#u55305-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u55309-4.MuseLinkActive p,#u55305-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u55303-4
{
	z-index: 234;
	width: 139px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 730px;
}

#u55305-4.MuseLinkActive,#u55303-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u55303-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u55305-4.MuseLinkActive p,#u55303-4:hover p,#u55303-4:hover span,#u55303-4.MuseLinkActive p,#u55303-4.MuseLinkActive span
{
	color: #000000;
	visibility: inherit;
}

#u55307,#u55303
{
	color: #7F7F7F;
	line-height: 22px;
}

#u55310
{
	z-index: 242;
	width: 170px;
	position: fixed;
	top: -27px;
	left: 22px;
}

#pu51703-4
{
	width: 0.01px;
	margin-left: 21px;
	top: -1237px;
	margin-bottom: -102px;
	position: relative;
}

#u51703-4
{
	z-index: 5;
	width: 980px;
	min-height: 87px;
	color: #000000;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u51704-7
{
	z-index: 9;
	width: 350px;
	min-height: 45px;
	background-color: #6B6565;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	line-height: 35px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 801px;
}

#u51704-7:hover
{
	background-color: #C8C8C8;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	margin: 57px -10000px 0px 0px;
}

#u51704-3
{
	color: #EECDC8;
	font-style: italic;
}

#u51705
{
	margin-top: 5px;
	margin-bottom: -5px;
}

#u51706
{
	z-index: 16;
	width: 20px;
}

#u51704-2,#u51704-4
{
	color: #EECDC8;
	font-style: italic;
	line-height: 45px;
}

#u51846-4
{
	z-index: 52;
	width: 1093px;
	min-height: 59px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	margin-left: 79px;
	top: -1088px;
	margin-bottom: -59px;
	position: relative;
}

#u51846-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 59px;
	margin: 0px 0px -59px 79px;
}

#u51846-4.MuseLinkActive p,#u51846-4.MuseLinkActive h2
{
	color: #000000;
	visibility: inherit;
	font-size: 30px;
}

#pu51877
{
	width: 0.01px;
	margin-left: 10px;
	top: -1019px;
	margin-bottom: -815px;
	position: relative;
}

#u51877
{
	z-index: 210;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 339px;
}

#u51845
{
	z-index: 4;
	width: 1094px;
	border-style: none;
	border-color: transparent;
	background-color: #F7EAEC;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 67px;
}

#u51845_position_content
{
	margin-top: -3px;
	margin-bottom: 66px;
}

#u51833
{
	z-index: 60;
	width: 1093px;
	margin-left: 1px;
	position: relative;
}

#u51835
{
	z-index: 61;
	width: 1093px;
	border-style: none;
	border-color: transparent;
	background-color: #B0757B;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u51834-4
{
	z-index: 62;
	width: 344px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 35px;
}

#u51836-4
{
	z-index: 66;
	width: 79px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 1014px;
}

#u51837-4
{
	z-index: 48;
	width: 1019px;
	min-height: 59px;
	color: #000000;
	text-align: left;
	margin-left: 40px;
	margin-top: 39px;
	position: relative;
}

#u51843
{
	z-index: 47;
	width: 1019px;
	height: 421px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-left: 40px;
	margin-top: 24px;
	position: relative;
}

#u51838-4
{
	z-index: 56;
	width: 1019px;
	min-height: 59px;
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	margin-left: 39px;
	margin-top: 45px;
	position: relative;
}

#u51875
{
	z-index: 208;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 339px;
	left: 1198px;
}

#u51847-6
{
	z-index: 189;
	width: 1074px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: #78959D;
	color: #7A6B6E;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 78px;
	top: -164px;
	margin-bottom: -49px;
	position: relative;
	padding: 16px 10px 10px;
}

#u51847
{
	color: #000000;
}

#u51847-3
{
	color: #F7EAEC;
}

#u51851-6
{
	z-index: 195;
	width: 350px;
	min-height: 45px;
	background-color: #000000;
	line-height: 35px;
	text-align: center;
	margin-left: 821px;
	top: -93px;
	margin-bottom: -45px;
	position: relative;
}

#u51851-6:hover
{
	background-color: #2A2A2A;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	margin: 0px 0px -45px 821px;
}

#u51853
{
	z-index: 201;
	width: 14px;
}

#u51856-4
{
	z-index: 204;
	width: 323px;
	min-height: 36px;
	color: #000000;
	line-height: 50px;
	font-size: 36px;
	text-align: left;
	margin-left: 78px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#pu51708
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 24px;
	position: relative;
}

#u51708
{
	z-index: 19;
	width: 351px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u51716
{
	z-index: 29;
	width: 350px;
	position: relative;
}

#u51717
{
	z-index: 30;
	width: 350px;
	border-style: none;
	border-color: transparent;
	background-color: #B0757B;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u51719-4
{
	z-index: 31;
	width: 110px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 11px;
}

#u51718-4
{
	z-index: 35;
	width: 39px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 311px;
}

#u51714-4
{
	z-index: 21;
	width: 350px;
	min-height: 59px;
	color: #000000;
	text-align: left;
	margin-top: 15px;
	position: relative;
}

#u51713
{
	z-index: 20;
	width: 350px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-top: 14px;
	position: relative;
}

#u51715-4
{
	z-index: 25;
	width: 351px;
	min-height: 59px;
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	margin-top: 23px;
	position: relative;
}

#u51709
{
	z-index: 39;
	width: 90px;
	margin-left: 261px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u51712-5
{
	z-index: 40;
	width: 90px;
	min-height: 22px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u51710
{
	z-index: 45;
	width: 15px;
	-webkit-transform: matrix(0,-1,1,0,0,15);
	-ms-transform: matrix(0,-1,1,0,0,15);
	-o-transform: matrix(0,-1,1,0,0,15);
	transform: matrix(0,-1,1,0,0,15);
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 69px;
}

#u51720
{
	z-index: 70;
	width: 351px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u51724
{
	z-index: 80;
	width: 350px;
	position: relative;
}

#u51726
{
	z-index: 81;
	width: 350px;
	border-style: none;
	border-color: transparent;
	background-color: #B0757B;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u51725-4
{
	z-index: 82;
	width: 110px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 11px;
}

#u51727-4
{
	z-index: 86;
	width: 39px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 311px;
}

#u51722-4
{
	z-index: 72;
	width: 350px;
	min-height: 59px;
	color: #000000;
	text-align: left;
	margin-top: 15px;
	position: relative;
}

#u51723
{
	z-index: 71;
	width: 350px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-top: 14px;
	position: relative;
}

#u51721-4
{
	z-index: 76;
	width: 351px;
	min-height: 59px;
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	margin-top: 23px;
	position: relative;
}

#u51728
{
	z-index: 90;
	width: 90px;
	margin-left: 261px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u51729-5
{
	z-index: 91;
	width: 90px;
	min-height: 22px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u51730
{
	z-index: 96;
	width: 16px;
	-webkit-transform: matrix(0,-1,1,0,0,16);
	-ms-transform: matrix(0,-1,1,0,0,16);
	-o-transform: matrix(0,-1,1,0,0,16);
	transform: matrix(0,-1,1,0,0,16);
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 68px;
}

#u51730_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u51732
{
	z-index: 98;
	width: 351px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#u51734
{
	z-index: 108;
	width: 350px;
	position: relative;
}

#u51737
{
	z-index: 109;
	width: 350px;
	border-style: none;
	border-color: transparent;
	background-color: #B0757B;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u51735-4
{
	z-index: 110;
	width: 110px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 11px;
}

#u51736-4
{
	z-index: 114;
	width: 39px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 311px;
}

#u51743-4
{
	z-index: 100;
	width: 350px;
	min-height: 59px;
	color: #000000;
	text-align: left;
	margin-top: 15px;
	position: relative;
}

#u51742
{
	z-index: 99;
	width: 350px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-top: 14px;
	position: relative;
}

#u51733-4
{
	z-index: 104;
	width: 351px;
	min-height: 59px;
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	margin-top: 23px;
	position: relative;
}

#u51738
{
	z-index: 118;
	width: 90px;
	margin-left: 261px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u51741-5
{
	z-index: 119;
	width: 90px;
	min-height: 22px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u51712,#u51729,#u51741
{
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
}

#u51739
{
	z-index: 124;
	width: 15px;
	-webkit-transform: matrix(0,-1,1,0,0,15);
	-ms-transform: matrix(0,-1,1,0,0,15);
	-o-transform: matrix(0,-1,1,0,0,15);
	transform: matrix(0,-1,1,0,0,15);
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 69px;
}

#pu50467-4
{
	width: 0.01px;
	margin-left: 113px;
	margin-top: 153px;
	position: relative;
}

#u50467-4
{
	z-index: 127;
	width: 458px;
	min-height: 30px;
	color: #E0EAE2;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u50468-4
{
	z-index: 131;
	width: 349px;
	min-height: 30px;
	color: #E0EAE2;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 689px;
}

#ppu50469-4
{
	width: 0.01px;
	margin-left: 113px;
	margin-top: 12px;
	position: relative;
}

#pu50469-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u50469-4
{
	z-index: 135;
	width: 103px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u50471-4
{
	z-index: 143;
	width: 103px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#pu50470-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 153px;
}

#u50470-4
{
	z-index: 139;
	width: 183px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u50472-4
{
	z-index: 147;
	width: 183px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#pu50473-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 366px;
}

#u50473-4
{
	z-index: 151;
	width: 183px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u50476-4
{
	z-index: 163;
	width: 213px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#u50479-4
{
	z-index: 175;
	width: 350px;
	min-height: 45px;
	background-color: #6A7D85;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	line-height: 35px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	left: 688px;
}

#u50479-4:hover
{
	background-color: #C8C8C8;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	margin: 0px -10000px 0px 0px;
}

#u51704,#u50479
{
	color: #1E2B35;
	line-height: 45px;
}

#pu50474-4
{
	width: 0.01px;
	margin-left: 113px;
	margin-top: 1px;
	position: relative;
}

#u50474-4
{
	z-index: 155;
	width: 103px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#pu50475-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 153px;
}

#u50475-4
{
	z-index: 159;
	width: 103px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u50477-4
{
	z-index: 167;
	width: 144px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#u50478-4
{
	z-index: 171;
	width: 144px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 366px;
}

#u50480-7
{
	z-index: 179;
	width: 175px;
	min-height: 45px;
	background-color: #000000;
	line-height: 35px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 863px;
}

#u50480-7:hover
{
	background-color: #2A2A2A;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	margin: 0px -10000px 0px 0px;
}

#u55307-2,#u55303-2,#u51704-5,#u51851-4,#u50479-2,#u50480-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u50480
{
	color: #6A7D85;
	line-height: 45px;
}

#u51852,#u50481
{
	margin-top: 3px;
	margin-bottom: -3px;
}

#u50482
{
	z-index: 186;
	width: 14px;
}

#u51706_img,#u51853_img,#u50482_img
{
	vertical-align: bottom;
}

#u51851,#u51851-3,#u50480-2,#u50480-4
{
	line-height: 45px;
}

#u50487
{
	z-index: 126;
	width: 1800px;
	height: 347px;
	border-style: none;
	border-color: transparent;
	background-color: #1E2B35;
	position: fixed;
	top: 1954px;
	left: -275px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

