.html
{
	background-color: #B49499;
}

#page
{
	z-index: 1;
	width: 1250px;
	min-height: 1651.6883695745523px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #B49499;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 62px;
}

#pu51420
{
	width: 0.01px;
	padding-bottom: 1372px;
	left: -290px;
	position: relative;
}

#u51420
{
	z-index: 2;
	width: 1800px;
	position: fixed;
	top: -35px;
	left: -275px;
}

#u51420_clip
{
	overflow: hidden;
	width: 1800px;
	height: 1371px;
}

#u51420_img
{
	margin-bottom: -179px;
}

#u55277
{
	z-index: 198;
	width: 1838px;
	position: fixed;
	top: -36px;
	left: -290px;
}

#u55284-4
{
	z-index: 212;
	width: 141px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 1126px;
}

#u55280-4
{
	z-index: 216;
	width: 115px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 1259px;
}

#u55284-4:hover,#u55280-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 29px -10000px 0px 0px;
}

#u55284-4:hover p,#u55280-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u55283-4
{
	z-index: 224;
	width: 142px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 518px;
}

#u55280-4.MuseLinkActive,#u55283-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 29px -10000px 0px 0px;
}

#pu55282
{
	z-index: 199;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u55282
{
	z-index: 0;
	width: 1838px;
	-pie-box-shadow: none;
	-moz-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 4px 4px 2px -1px rgba(0, 0, 0, 0.1);
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu55278-4
{
	width: 0.01px;
	position: relative;
	left: 650px;
	padding-top: 29px;
	z-index: 2;
	padding-bottom: 29px;
}

#u55278-4
{
	z-index: 200;
	width: 112px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u55278-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u55280-4.MuseLinkActive p,#u55283-4:hover p,#u55283-4:hover span,#u55278-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u55285-4
{
	z-index: 204;
	width: 210px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 129px;
}

#u55278-4.MuseLinkActive,#u55285-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u55278-4.MuseLinkActive p,#u55285-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u55281-4
{
	z-index: 208;
	width: 141px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#u55285-4.MuseLinkActive,#u55281-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u55285-4.MuseLinkActive p,#u55281-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u55279-4
{
	z-index: 220;
	width: 139px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 730px;
}

#u55281-4.MuseLinkActive,#u55279-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u55279-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u55281-4.MuseLinkActive p,#u55279-4:hover p,#u55279-4:hover span,#u55279-4.MuseLinkActive p,#u55279-4.MuseLinkActive span
{
	color: #000000;
	visibility: inherit;
}

#u55283,#u55279
{
	color: #7F7F7F;
	line-height: 22px;
}

#u55286
{
	z-index: 228;
	width: 170px;
	position: fixed;
	top: -27px;
	left: 22px;
}

#pu51162-4
{
	width: 0.01px;
	margin-left: 21px;
	top: -1234px;
	margin-bottom: -104px;
	position: relative;
}

#u51162-4
{
	z-index: 4;
	width: 980px;
	min-height: 87px;
	color: #000000;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u50972-7
{
	z-index: 75;
	width: 350px;
	min-height: 45px;
	background-color: #6B6565;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	line-height: 35px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 799px;
}

#u50972-7:hover
{
	background-color: #C8C8C8;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	margin: 59px -10000px 0px 0px;
}

#u50972-3
{
	color: #EECDC8;
	font-style: italic;
}

#u50973
{
	margin-top: 5px;
	margin-bottom: -5px;
}

#u50974
{
	z-index: 82;
	width: 20px;
}

#u50972-2,#u50972-4
{
	color: #EECDC8;
	font-style: italic;
	line-height: 45px;
}

#slideshowu50982
{
	z-index: 85;
	width: 0.01px;
	height: 532px;
	margin-left: 75px;
	top: -1089px;
	margin-bottom: -532px;
	position: relative;
}

#u51016
{
	position: absolute;
	width: 728px;
	height: 430px;
	background-color: transparent;
}

#u51016popup
{
	z-index: 86;
}

.c-img-slider-pry
{
	z-index: 87;
	width: 728px;
	height: 430px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u51019
{
	z-index: 87;
	width: 728px;
	height: 430px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u51186
{
	z-index: 89;
	width: 728px;
	height: 430px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u51195
{
	z-index: 91;
	width: 728px;
	height: 430px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u51204
{
	z-index: 93;
	width: 728px;
	height: 430px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u51019_clip,#u51186_clip,#u51195_clip,#u51204_clip
{
	overflow: hidden;
	width: 728px;
	height: 430px;
}

.clip-img-slider-pry{
	overflow: hidden;
	width: 728px;
	height: 430px;	
}

#u51019_img,#u51186_img,#u51195_img,#u51204_img
{
	margin-left: -15px;
	margin-right: -15px;
}

.img-slider-pry{
	margin-left: -15px;
	margin-right: -15px;	
}

#u51009
{
	position: absolute;
	width: 648px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 10px;
	top: 437px;
	left: 40px;
}

#u51009popup
{
	z-index: 95;
}

#u51014
{
	z-index: 96;
	width: 100px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 109px;
}

#u51189
{
	z-index: 98;
	width: 100px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 219px;
}

#u51198
{
	z-index: 100;
	width: 100px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 329px;
}

#u51207
{
	z-index: 102;
	width: 100px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 439px;
}

#u51014.SSSlideLinkSelected,#u51189.SSSlideLinkSelected,#u51198.SSSlideLinkSelected,#u51207.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 10px -10000px 0px 0px;
}

#u51014_clip,#u51189_clip,#u51198_clip,#u51207_clip
{
	overflow: hidden;
	width: 100px;
	height: 75px;
}

#u51014_img,#u51189_img,#u51198_img,#u51207_img
{
	margin-left: -16px;
	margin-right: -16px;
}

#u51029-6
{
	position: absolute;
	width: 27px;
	min-height: 57px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding: 19px;
	line-height: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 437px;
}

#u51029-6popup
{
	z-index: 104;
}

#u51142
{
	z-index: 110;
	width: 35px;
}

#u51029-2,#u51029-3
{
	color: #999999;
}

#u50984-6
{
	position: absolute;
	width: 27px;
	min-height: 57px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding: 19px;
	color: #999999;
	line-height: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 437px;
	left: 663px;
}

#u50984-6popup
{
	z-index: 113;
}

#u51029,#u50984
{
	font-size: 1px;
	line-height: 0px;
}

#u51147,#u51158
{
	margin-top: 1px;
	margin-bottom: -1px;
}

#u51153
{
	z-index: 119;
	width: 35px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu51213
{
	width: 0.01px;
	margin-left: 10px;
	top: -1089px;
	margin-bottom: -430px;
	position: relative;
}

#u51213
{
	z-index: 122;
	width: 322px;
	border-style: none;
	border-color: transparent;
	background-color: #F7EAEC;
	position: relative;
	margin-right: -10000px;
	left: 792px;
	padding: 21px 19px 27.15000000000066px 21px;
}

#u51220-4
{
	z-index: 124;
	width: 322px;
	min-height: 49px;
	padding-top: 10px;
	color: #000000;
	line-height: 30px;
	font-size: 30px;
	text-align: left;
	position: relative;
}

#u51221-7
{
	z-index: 128;
	width: 322px;
	min-height: 228px;
	padding-top: 10px;
	color: #000000;
	font-size: 12px;
	line-height: 17px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 85px;
	position: relative;
}

#u51223-8
{
	z-index: 135;
	width: 343px;
	min-height: 65px;
	border-style: none;
	border-color: transparent;
	background-color: #91A5AD;
	padding-left: 20px;
	padding-top: 10px;
	color: #F7EAEC;
	font-size: 12px;
	line-height: 17px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 792px;
}

#u51223-2
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u51223-4,#u51223-6
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u51865
{
	z-index: 196;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 197px;
}

#u51857
{
	z-index: 194;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 197px;
	left: 1198px;
}

#u51215
{
	z-index: 123;
	width: 362px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	background-color: #FBF3F4;
	margin-left: 802px;
	top: -652px;
	margin-bottom: -95px;
	position: relative;
}

#pu51226-4
{
	width: 0.01px;
	margin-left: 74px;
	top: -550px;
	margin-bottom: -49px;
	position: relative;
}

#u51226-4
{
	z-index: 143;
	width: 1070px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: #FBF3F4;
	color: #7A6B6E;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 16px 10px 10px;
}

#u51227-4
{
	z-index: 147;
	width: 109px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: #91A5AD;
	padding-top: 5px;
	padding-bottom: 3px;
	color: #FBF3F4;
	line-height: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 102px;
}

#u51228-4
{
	z-index: 151;
	width: 109px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: #91A5AD;
	padding-top: 5px;
	padding-bottom: 3px;
	color: #FBF3F4;
	line-height: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 219px;
}

#u51261-6
{
	z-index: 185;
	width: 350px;
	min-height: 45px;
	background-color: #000000;
	line-height: 35px;
	text-align: center;
	margin-left: 815px;
	top: -475px;
	margin-bottom: -45px;
	position: relative;
}

#u51261-6:hover
{
	background-color: #2A2A2A;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	margin: 0px 0px -45px 815px;
}

#u51263
{
	z-index: 191;
	width: 14px;
}

#u51229-4
{
	z-index: 8;
	width: 323px;
	min-height: 36px;
	color: #000000;
	line-height: 50px;
	font-size: 36px;
	text-align: left;
	margin-left: 74px;
	top: -391px;
	margin-bottom: -50px;
	position: relative;
}

#pu51246
{
	width: 0.01px;
	margin-left: 74px;
	top: -315px;
	margin-bottom: -315px;
	position: relative;
}

#u51246
{
	z-index: 155;
	width: 350px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u51247
{
	z-index: 156;
	width: 350px;
	height: 270px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
}

#u51249
{
	z-index: 157;
	width: 350px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u51250
{
	z-index: 158;
	width: 100px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #2F2E2E;
	position: relative;
	margin-right: -10000px;
}

#u51248-6
{
	z-index: 159;
	width: 219px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 116px;
}

#u51251
{
	z-index: 165;
	width: 350px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 372px;
}

#u51252
{
	z-index: 166;
	width: 350px;
	height: 270px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
}

#u51254
{
	z-index: 167;
	width: 350px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u51253
{
	z-index: 168;
	width: 100px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #2F2E2E;
	position: relative;
	margin-right: -10000px;
}

#u51255-6
{
	z-index: 169;
	width: 219px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 116px;
}

#u51256
{
	z-index: 175;
	width: 350px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 744px;
}

#u51259
{
	z-index: 176;
	width: 350px;
	height: 270px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
}

#u51258
{
	z-index: 177;
	width: 350px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u51260
{
	z-index: 178;
	width: 100px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #2F2E2E;
	position: relative;
	margin-right: -10000px;
}

#u51257-6
{
	z-index: 179;
	width: 219px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 116px;
}

#u51248-2,#u51255-2,#u51257-2
{
	text-align: left;
	color: #BC949C;
}

#u51248-4,#u51255-4,#u51257-4
{
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}

#pu50384-4
{
	width: 0.01px;
	margin-left: 128px;
	margin-top: 201px;
	position: relative;
}

#u50384-4
{
	z-index: 13;
	width: 458px;
	min-height: 30px;
	color: #E0EAE2;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u50385-4
{
	z-index: 17;
	width: 349px;
	min-height: 30px;
	color: #E0EAE2;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 689px;
}

#ppu50386-4
{
	width: 0.01px;
	margin-left: 128px;
	margin-top: 12px;
	position: relative;
}

#pu50386-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u50386-4
{
	z-index: 21;
	width: 103px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u50388-4
{
	z-index: 29;
	width: 103px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#pu50387-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 153px;
}

#u50387-4
{
	z-index: 25;
	width: 183px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u50389-4
{
	z-index: 33;
	width: 183px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#pu50390-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 366px;
}

#u50390-4
{
	z-index: 37;
	width: 183px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u50393-4
{
	z-index: 49;
	width: 213px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#u50396-4
{
	z-index: 61;
	width: 350px;
	min-height: 45px;
	background-color: #6A7D85;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	line-height: 35px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	left: 688px;
}

#u50396-4:hover
{
	background-color: #C8C8C8;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	margin: 0px -10000px 0px 0px;
}

#u50972,#u50396
{
	color: #1E2B35;
	line-height: 45px;
}

#pu50391-4
{
	width: 0.01px;
	margin-left: 128px;
	margin-top: 1px;
	position: relative;
}

#u50391-4
{
	z-index: 41;
	width: 103px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#pu50392-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 153px;
}

#u50392-4
{
	z-index: 45;
	width: 103px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u50394-4
{
	z-index: 53;
	width: 144px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#u50395-4
{
	z-index: 57;
	width: 144px;
	min-height: 24px;
	color: #929994;
	font-size: 14px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 366px;
}

#u50397-7
{
	z-index: 65;
	width: 175px;
	min-height: 45px;
	background-color: #000000;
	line-height: 35px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 863px;
}

#u50397-7:hover
{
	background-color: #2A2A2A;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	margin: 0px -10000px 0px 0px;
}

#u55283-2,#u55279-2,#u50972-5,#u51261-4,#u50396-2,#u50397-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u50397
{
	color: #6A7D85;
	line-height: 45px;
}

#u51262,#u50398
{
	margin-top: 3px;
	margin-bottom: -3px;
}

#u50399
{
	z-index: 72;
	width: 14px;
}

#u50974_img,#u51142_img,#u51153_img,#u51263_img,#u50399_img
{
	vertical-align: bottom;
}

#u51261,#u51261-3,#u50397-2,#u50397-4
{
	line-height: 45px;
}

#u50383
{
	z-index: 12;
	width: 1800px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #1E2B35;
	position: fixed;
	top: 1477px;
	left: -275px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}


.pry-contenedor-tags{
	border-color: transparent;
    border-style: none;
    left: 100px;
    margin-top: 11px;
    position: relative;
    width: 600px;
    z-index: 147;
}
.tag-proyecto
{
	background-color: #91A5AD;
	width: 109px;
	min-height: 18px;
	padding-top: 5px;
	margin-right: 5px;
	padding-bottom: 3px;
	color: #FBF3F4;
	line-height: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	float: left;
	display: inline-block;
}