html, body{
	width: 100%;
	height: 100%;
	font-family: 'open_sanslight';
}

a{
	outline: none;
}

.row-sinborde{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.txt-normal{
	font-family: 'open_sansregular';
}
.txt-negrita{
	font-family: 'open_sansbold';
}

.fondoPlomo{
	background-color: #91A5AD;
	color: #FFFFFF;
}

.fondoBlanco{
	background-color: #FFFFFF;
}
.fondoNegro{
	background-color: #000000;
}
.fondoAmarillo{
	background-color: yellow;
}
.fondoRojo{
	background-color: red;
}
.fondoAzul{
	background-color: blue;
}
.fondoVerde{
	background-color: green;
}
.fondoNaranja{
	background-color: #f37336;
}
.fondoGris{
	background-color: #3F3F3F;
}
.fondoCeleste{
	background-color: #8ec1c4
}
.fondoConchevino{
	background-color: #B0757B;
}


#intro{
	height: 100%;
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 9999;
	display: table;
	background-color: #FFFFFF;
}

.seccion-celmedia{
	/*display: table;*/
	height: 100%;
	width: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}

.seccion-celmedia-auto{
	height: auto;
	width: 100%;
	position: relative;
}

.v-center-contenedor{
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
}

.v-center-contenido{
	display: table-cell;
	vertical-align: middle;
	/*text-align: center;*/
}

.img-w{
	margin: 0 auto;
    text-align: center;
    width: 100%;
    position: relative;
}

.texto-rojo{
	color: #f24767;
	font-family: 'open_sanslight';
}
.texto-gris{
	color: #4B484C;
}
.texto-gris-claro{
	color: #494947;
}
.texto-sombra-turquesa{
	text-shadow: 2px 2px #378884;
}
.texto-blanco{
	color: #ffffff;
}
.texto-crema{
	color: #f7e5d1;
}
.texto-azulado{
	color: #494947;
}


.navbar-celmedia{
	background-color: #FFFFFF;
	background-image: none;
	box-shadow: none;
	margin-bottom: 0px;
}

/*
	Estilo al bajar
	====================================== */
.navbar-celmedia.navbar-bajar{
	background-color: rgba(255, 255, 255, 0.9); /*cambio de transparencia @Ady*/
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.9);
}
.navbar-celmedia.navbar-bajar .navbar-nav{
	margin-top: 0px;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.navbar-celmedia.navbar-bajar .navbar-nav > li > a{
	line-height: 40px;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.navbar-celmedia.navbar-bajar .navbar-brand > img{
	height: 60px;
}
.navbar-celmedia .navbar-brand{
	display: inline-block;
    height: auto;
    text-align: center;
    /*width: 248px;*/
    outline: none;
}


#nav-celmedia{

}

#nav-celmedia li > a{
	color: #7f7f7f;
	font-family: 'open_sansregular';
	font-size: 16px;
	line-height: 62px;
	outline: medium none;
	text-transform: uppercase;
}

#nav-celmedia li.active > a,
#nav-celmedia li:hover > a,
#nav-celmedia li:focus > a
#nav-celmedia li > a:hover,
#nav-celmedia li > a:focus{
	text-transform: uppercase;
	font-size: 18px;
	color: #000000;
	background-color: transparent;
	outline: none;
}

#nav-celmedia li.active,
#nav-celmedia li:hover,
#nav-celmedia li:focus{
}

.alto-completo{
	height: 100%;
	position: relative;
}

.fondo-completo{
	background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    /*height: 100%;
    width: 100%;*/
}


#servicios.seccion-celmedia{
	background-image: url('../img/bg_servicios.jpg');
}
#porquecelmedia.seccion-celmedia{
	background-image: url('../img/bg_porquecelmedia.jpg');
	height: auto;
}
#casos.seccion-celmedia{
	background-image: url('../img/bg_proyectos2750x646.jpg');
}
#noticias.seccion-celmedia{
	background-image: url('../img/bg_noticias.jpg');
	height: auto;
}
#clientes.seccion-celmedia{
	background-image: url('../img/bg_clientes-u46493.jpg');
	height: auto;
}
#contacto.seccion-celmedia{
	background-image: url('../img/bg_contacto.jpg');
	/*height: auto;*/
}

#footer{
	background-color: #1E2B35;
}
.copy-footer{
	color: #e0eae2;
	font-size: 14px;
	line-height: 15px;
	font-family: 'open_sanslight';
}
.links-footer a{
	color: #929994;
	font-size: 14px;
	line-height: 15px;
}
.modal-header{
	border-bottom: none;
}

#carousel-slider-home{

}

#carousel-slider-home.carousel,
#carousel-slider-home .item,
#carousel-slider-home .active{
	height:100%;
}
#carousel-slider-home .carousel-inner{
	height:100%;
}


.titular-slider{
	font-size: 44px;
    line-height: 54px;
    text-align: left;
}
.navbar-contacto{
	min-height: inherit;
}

.navbar-toggle .icon-bar{
	border: 3px solid #000000;
	width: 35px;
}
.navbar-celmedia .navbar-toggle{
	margin-top: 15px;
}
.navbar-contacto .navbar-toggle{
	/*border: 1px solid #A6C736;*/
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.link-celmedia,
.link-celmedia:hover,
.link-celmedia:active{
	display: inline-block;
	outline: none;
	text-decoration: none;
}

.espaciado-a{
	margin-top: 10px;
	margin-bottom: 10px;
}
.espaciado-titulo{
	margin-top: 15px;
	margin-bottom: 15px;	
}
.espaciado-b{
	padding-bottom: 0px;
	padding-top: 6px;
}
.txt-mayus{
	text-transform: uppercase;
}
.btn-slh{
	background-color: #000000;
	color: #FFFFFF;
	width: 100%;
	border-radius: 0px;
}

.btn-slh:hover,
.btn-slh:active,
.btn-slh:focus{
	background-color: #2C2C2C;
	color: #FFFFFF;
}

.btn-contacto-toggle,
.btn-contacto-toggle:hover,
.btn-contacto-toggle:active,
.btn-contacto-toggle:focus{
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFFFFF;
	width: 100%;
	border-radius: 0px;
	height: 60px;
	padding-top: 30px;
	text-transform: uppercase;	
}

.btn-contacto-toggle.collapsed,
.btn-contacto-toggle.collapsed:hover,
.btn-contacto-toggle.collapsed:active,
.btn-contacto-toggle.collapsed:focus{
	background-image: url("../img/bg_boton_contactos2b.png");
}

.btn-contacto-toggle,
.btn-contacto-toggle:hover,
.btn-contacto-toggle:active,
.btn-contacto-toggle:focus{
	background-image: url("../img/bg_boton_contactos2.png");
}

.link-scroll-sld{
	background-color: transparent;
	background-image: url("../img/flecha-scroll_arrowwhite.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain !important;
    height: 35px;
    width: 35px;
}
.link-scroll-sld:hover{
    background-image: url("../img/flecha-scroll_arrowblack.png");
}

.espaciado-top{
	margin-top: 75px;
}

.s-titular{
	font-size: 56px;
    line-height: 56px;
	text-align: left;
	font-family: 'open_sanslight';
}
.s-titular-2 {
    font-size: 20px;
    line-height: 32px;
    font-family: 'open_sansregular';
}
.s-titular-3{
	font-size: 30px;
	line-height: 35px;
	font-family: 'open_sansregular';
}
.s-subtitular{
 	font-size: 28px;
    line-height: 39px;
 	font-family: 'open_sanslight_italic';
}
.s-subtitular-2{
	font-size: 18px;
    line-height: 29px;
}
.s-subtitular-3{
	font-size: 18px;
    line-height: 20px;
    font-family: 'open_sansregular';
}

.titulo-caso{
    color: #bc949c;
    text-align: left;
    font-family: 'open_sansregular';
    font-size: 18px;
    line-height: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.texto-caso{
	color: #FFFFFF;
	font-size: 14px;
	line-height: 16px;
	padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.titular-secc-caso{
	width: 100%;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFFFFF;
	text-align: center;
}

.fondoproyecto, .fondoproyectoT{
	background-image: url('../img/bg_proyectos2750x646.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
}
.fondonoticia, .fondonoticiaT{
	background-image: url('../img/bg_noticias.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;	
}
.fondoservicioT{
	background-image: url('../img/bg_servicios.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;	
}
.btn-servicio-m{
	width: 100%;
	border-radius: 0px;
	color: #000000;
	text-align: left;
	font-size: 26px;
    line-height: 36px;
	display: inline-block;
}
.btn-servicio-m:hover,
.btn-servicio-m:active,
.btn-servicio-m:focus{
	font-family: 'open_sansregular';
	color: #000000;
}

.ballon-titular{
	color: #ffffff;
	position: relative;

	background-image: url('../img/titulares2_bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	padding: 8px;
	height: 56px;
}

.ballon-titular span{
	font-size: 24px;
	line-height: 34px;
}



span.glyphicon.white{
	color: #FFFFFF;
}

.s-titular-pre{
	font-size: 30px;
    line-height: 42px;
}

.s-titular-sub{
	font-size: 18px;
    line-height: 25px;
}
.bullet-pq{
	font-size: 18px;
}

.lbl-tecnologias{
	color: #7a6b6e;
	font-family: 'open_sanslight';
	font-size: 15px;
}

.lbl-tecnologias-2{
	color: #fbf3f4;
	font-family: 'open_sanslight';
	font-size: 12px;
    line-height: 25px;
	background-color: #91a5ad;
	border-radius: 0px;
}
.titulo-noticia{
	color: #000000;
}
.texto-noticia{
	color: #000000;
}
.fondoCrema{
	background-color: #F7EAEC;
}