.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u58019-9.AccordionPanelTabOpen p,#u58019-9.AccordionPanelTabOpen span,#u58061-3.AccordionPanelTabOpen p,#u58114-6.AccordionPanelTabOpen p,#u58114-6.AccordionPanelTabOpen span,#u58077-4,#u58092-9,#u58114-6
{
	font-family: open-sans-n4, sans-serif;
}

#u58111-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58112-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58109-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58530-4,#u58061-3
{
	font-family: open-sans-n4, sans-serif;
}

#u58052-12,#u58019-9
{
	font-family: open-sans-n4, sans-serif;
}

#u58028-4
{
	font-family: open-sans-n4, sans-serif;
}

#u58027-4
{
	font-family: open-sans-n4, sans-serif;
}

#u58026-4
{
	font-family: open-sans-n4, sans-serif;
}

#u58024-4
{
	font-family: open-sans-n4, sans-serif;
}

#u58025-4
{
	font-family: open-sans-n4, sans-serif;
}

#u58046-4,#u58054-4
{
	font-family: open-sans-n4, sans-serif;
}

