.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u56761-2
{
	font-family: open-sans-n7, sans-serif;
}

#u56528-3.AccordionPanelTabOpen p,#u58483-6.AccordionPanelTabOpen p,#u58483-6.AccordionPanelTabOpen span,#u56533-9.AccordionPanelTabOpen p,#u56533-9.AccordionPanelTabOpen span,#u56761-4,#u56761-6,#u56760-7,#u58483-6
{
	font-family: open-sans-n4, sans-serif;
}

#u58491-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58492-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58490-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58640-4,#u56528-3
{
	font-family: open-sans-n4, sans-serif;
}

#u56573-12,#u56533-9
{
	font-family: open-sans-n4, sans-serif;
}

#u56541-4
{
	font-family: open-sans-n4, sans-serif;
}

#u56540-4
{
	font-family: open-sans-n4, sans-serif;
}

#u56538-4
{
	font-family: open-sans-n4, sans-serif;
}

#u56542-4
{
	font-family: open-sans-n4, sans-serif;
}

#u56539-4
{
	font-family: open-sans-n4, sans-serif;
}

#u56571-4,#u56561-4
{
	font-family: open-sans-n4, sans-serif;
}

