.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u57775-3.AccordionPanelTabOpen p,#u57807-6.AccordionPanelTabOpen p,#u57807-6.AccordionPanelTabOpen span,#u57746-9.AccordionPanelTabOpen p,#u57746-9.AccordionPanelTabOpen span,#u57830-4,#u57829-4,#u57831-7,#u57807-6
{
	font-family: open-sans-n4, sans-serif;
}

#u57803-4
{
	font-family: open-sans-n3, sans-serif;
}

#u57805-4
{
	font-family: open-sans-n3, sans-serif;
}

#u57804-4
{
	font-family: open-sans-n3, sans-serif;
}

#u57775-3
{
	font-family: open-sans-n4, sans-serif;
}

#u57773-12,#u57746-9
{
	font-family: open-sans-n4, sans-serif;
}

#u57753-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57751-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57754-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57752-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57755-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57760-4,#u57772-4
{
	font-family: open-sans-n4, sans-serif;
}

