.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u57657-9.AccordionPanelTabOpen p,#u57657-9.AccordionPanelTabOpen span,#u57693-3.AccordionPanelTabOpen p,#u57614-6.AccordionPanelTabOpen p,#u57614-6.AccordionPanelTabOpen span,#u57699-4,#u57618-10,#u57614-6
{
	font-family: open-sans-n4, sans-serif;
}

#u57612-4
{
	font-family: open-sans-n3, sans-serif;
}

#u57610-4
{
	font-family: open-sans-n3, sans-serif;
}

#u57611-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58531-4,#u57693-3
{
	font-family: open-sans-n4, sans-serif;
}

#u57680-12,#u57657-9
{
	font-family: open-sans-n4, sans-serif;
}

#u57664-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57665-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57663-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57662-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57666-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57649-4,#u57682-4
{
	font-family: open-sans-n4, sans-serif;
}

