.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u57126-9.AccordionPanelTabOpen p,#u57126-9.AccordionPanelTabOpen span,#u57157-3.AccordionPanelTabOpen p,#u58431-6.AccordionPanelTabOpen p,#u58431-6.AccordionPanelTabOpen span,#u57167-4,#u57238-7,#u58431-6
{
	font-family: open-sans-n4, sans-serif;
}

#u58439-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58440-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58438-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58532-4,#u57157-3
{
	font-family: open-sans-n4, sans-serif;
}

#u57145-12,#u57126-9
{
	font-family: open-sans-n4, sans-serif;
}

#u57133-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57134-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57132-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57135-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57131-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57140-4,#u57149-4
{
	font-family: open-sans-n4, sans-serif;
}

