.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u55646-6.AccordionPanelTabOpen p,#u55646-6.AccordionPanelTabOpen span,#u56094-3.AccordionPanelTabOpen p,#u55917-9.AccordionPanelTabOpen p,#u55917-9.AccordionPanelTabOpen span,#u55646-6
{
	font-family: open-sans-n4, sans-serif;
}

#u55660-4,#u55650-4
{
	font-family: open-sans-n3, sans-serif;
}

#u56933-4
{
	font-family: open-sans-n3, sans-serif;
}

#u56094-3
{
	font-family: open-sans-n4, sans-serif;
}

#u55949-12,#u55917-9
{
	font-family: open-sans-n4, sans-serif;
}

#u55916-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55914-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55912-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55913-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55915-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55978-4,#u56003-4
{
	font-family: open-sans-n4, sans-serif;
}

