.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u58319-3.AccordionPanelTabOpen p,#u58357-6.AccordionPanelTabOpen p,#u58357-6.AccordionPanelTabOpen span,#u58285-9.AccordionPanelTabOpen p,#u58285-9.AccordionPanelTabOpen span,#u58338-4,#u58339-4,#u58368-7,#u58357-6
{
	font-family: open-sans-n4, sans-serif;
}

#u58362-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58363-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58366-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58319-3
{
	font-family: open-sans-n4, sans-serif;
}

#u58275-12,#u58285-9
{
	font-family: open-sans-n4, sans-serif;
}

#u58292-4
{
	font-family: open-sans-n4, sans-serif;
}

#u58294-4
{
	font-family: open-sans-n4, sans-serif;
}

#u58293-4
{
	font-family: open-sans-n4, sans-serif;
}

#u58291-4
{
	font-family: open-sans-n4, sans-serif;
}

#u58290-4
{
	font-family: open-sans-n4, sans-serif;
}

#u58316-4,#u58282-4
{
	font-family: open-sans-n4, sans-serif;
}

