.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u57526-3.AccordionPanelTabOpen p,#u57497-6.AccordionPanelTabOpen p,#u57497-6.AccordionPanelTabOpen span,#u57553-9.AccordionPanelTabOpen p,#u57553-9.AccordionPanelTabOpen span,#u57472-4,#u57471-4,#u57575-7,#u57497-6
{
	font-family: open-sans-n4, sans-serif;
}

#u57495-4
{
	font-family: open-sans-n3, sans-serif;
}

#u57494-4
{
	font-family: open-sans-n3, sans-serif;
}

#u57492-4
{
	font-family: open-sans-n3, sans-serif;
}

#u57526-3
{
	font-family: open-sans-n4, sans-serif;
}

#u57573-12,#u57553-9
{
	font-family: open-sans-n4, sans-serif;
}

#u57550-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57552-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57548-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57551-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57549-4
{
	font-family: open-sans-n4, sans-serif;
}

#u57560-4,#u57570-4
{
	font-family: open-sans-n4, sans-serif;
}

