.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u58194-3.AccordionPanelTabOpen p,#u58224-6.AccordionPanelTabOpen p,#u58224-6.AccordionPanelTabOpen span,#u58170-9.AccordionPanelTabOpen p,#u58170-9.AccordionPanelTabOpen span,#u58247-4,#u58244-4,#u58241-7,#u58224-6
{
	font-family: open-sans-n4, sans-serif;
}

#u58223-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58219-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58222-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58194-3
{
	font-family: open-sans-n4, sans-serif;
}

#u58183-12,#u58170-9
{
	font-family: open-sans-n4, sans-serif;
}

#u58168-4
{
	font-family: open-sans-n4, sans-serif;
}

#u58169-4
{
	font-family: open-sans-n4, sans-serif;
}

#u58167-4
{
	font-family: open-sans-n4, sans-serif;
}

#u58166-4
{
	font-family: open-sans-n4, sans-serif;
}

#u58165-4
{
	font-family: open-sans-n4, sans-serif;
}

#u58190-4,#u58178-4
{
	font-family: open-sans-n4, sans-serif;
}

