.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u56209-3.AccordionPanelTabOpen p,#u58457-6.AccordionPanelTabOpen p,#u58457-6.AccordionPanelTabOpen span,#u56214-9.AccordionPanelTabOpen p,#u56214-9.AccordionPanelTabOpen span,#u56209-3
{
	font-family: open-sans-n4, sans-serif;
}

#u56254-12,#u56214-9
{
	font-family: open-sans-n4, sans-serif;
}

#u56222-4
{
	font-family: open-sans-n4, sans-serif;
}

#u56221-4
{
	font-family: open-sans-n4, sans-serif;
}

#u56219-4
{
	font-family: open-sans-n4, sans-serif;
}

#u56223-4
{
	font-family: open-sans-n4, sans-serif;
}

#u56220-4
{
	font-family: open-sans-n4, sans-serif;
}

#u56252-4,#u56242-4,#u58457-6
{
	font-family: open-sans-n4, sans-serif;
}

#u58465-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58466-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58464-4
{
	font-family: open-sans-n3, sans-serif;
}

