.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u56827-3.AccordionPanelTabOpen p,#u58405-6.AccordionPanelTabOpen p,#u58405-6.AccordionPanelTabOpen span,#u56856-9.AccordionPanelTabOpen p,#u56856-9.AccordionPanelTabOpen span,#u57044-2,#u57043-2,#u57041-2,#u57039-2,#u57037-2,#u57036-2,#u57034-2,#u58405-6
{
	font-family: open-sans-n4, sans-serif;
}

#u58413-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58414-4,#u58412-4
{
	font-family: open-sans-n3, sans-serif;
}

#u56827-3
{
	font-family: open-sans-n4, sans-serif;
}

#u56847-12,#u56856-9
{
	font-family: open-sans-n4, sans-serif;
}

#u56851-4
{
	font-family: open-sans-n4, sans-serif;
}

#u56855-4
{
	font-family: open-sans-n4, sans-serif;
}

#u56854-4
{
	font-family: open-sans-n4, sans-serif;
}

#u56852-4
{
	font-family: open-sans-n4, sans-serif;
}

#u56853-4
{
	font-family: open-sans-n4, sans-serif;
}

#u56833-4,#u56843-4
{
	font-family: open-sans-n4, sans-serif;
}

