@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #1A2129;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 498px;
}

#accordionu55631wrapper
{
	min-height: 285px;
	z-index: 115;
	position: relative;
	margin-right: -10000px;
}

#accordionu55631
{
	z-index: 115;
	width: 380px;
	position: relative;
}

#u55645
{
	z-index: 116;
	width: 100%;
	position: relative;
}

#u55646-6
{
	z-index: 117;
	position: relative;
	min-height: 51px;
	border-style: none;
	border-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	width: 100%;
	background: #FFFFFF url("../../images/celmedia_logo_menu-u55646-6-fr.png") no-repeat left center;
	background-color: rgba(255, 255, 255, 0.9);
}

#u55646-6:hover
{
	background-repeat: no-repeat;
	background-position: left center;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 51px;
	margin: 0px;
}

#u55646-6:active
{
	background-repeat: no-repeat;
	background-position: left center;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 51px;
	margin: 0px;
}

#u55646-6.AccordionPanelTabOpen
{
	background-repeat: no-repeat;
	background-position: left center;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 51px;
	margin: 0px;
}

#u55708
{
	margin-top: 8px;
	margin-bottom: -8px;
}

#u55702
{
	z-index: 123;
	width: 35px;
}

#u55702_img
{
	vertical-align: bottom;
}

#u55649
{
	z-index: 126;
	width: 100%;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u55660-4
{
	z-index: 135;
	width: 345px;
	min-height: 29px;
	font-size: 24px;
	line-height: 29px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	padding: 24px 11px 16px 24px;
}

#u55662
{
	z-index: 139;
	width: 380px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C8C8C8;
	position: relative;
}

#u55650-4
{
	z-index: 127;
	width: 356px;
	min-height: 48px;
	background-color: transparent;
	padding-left: 24px;
	padding-top: 24px;
	font-size: 24px;
	line-height: 29px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u55650-4:hover
{
	padding-top: 24px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px 0px -1px;
}

#u56932
{
	z-index: 140;
	width: 380px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C8C8C8;
	position: relative;
}

#u56933-4
{
	z-index: 131;
	width: 356px;
	min-height: 49px;
	background-color: transparent;
	padding-left: 24px;
	padding-top: 24px;
	font-size: 24px;
	line-height: 29px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u56933-4:hover
{
	padding-top: 24px;
	padding-bottom: 0px;
	min-height: 49px;
	margin: 0px 0px -1px;
}

#accordionu56079wrapper
{
	min-height: 479px;
	z-index: 141;
	-webkit-transform: matrix(-1,0,0,-1,380,71);
	-ms-transform: matrix(-1,0,0,-1,380,71);
	-o-transform: matrix(-1,0,0,-1,380,71);
	transform: matrix(-1,0,0,-1,380,71);
	margin-bottom: -408px;
	position: relative;
	margin-right: -10000px;
	margin-top: 499px;
}

#accordionu56079
{
	z-index: 141;
	width: 380px;
	position: relative;
}

#u56093
{
	z-index: 142;
	width: 380px;
	position: relative;
}

#u56094-3
{
	z-index: 143;
	width: 370px;
	min-height: 51px;
	border-style: none;
	border-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	line-height: 14px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	background: #000000 url("../../images/bg_boton_contactosnormal.jpg") no-repeat left top;
}

#u56094-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 51px;
	margin: 0px;
	background: #2A2A2A url("../../images/bg_boton_contactosnormal.jpg") no-repeat left top;
}

#u56094-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 51px;
	margin: 0px;
	background: #2A2A2A url("../../images/bg_boton_contactosnormal.jpg") no-repeat left top;
}

#u56094-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 51px;
	margin: 0px;
	background: #000000 url("../../images/bg_boton_contactosactive.jpg") no-repeat left top;
}

#u56094-3.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u56098
{
	z-index: 146;
	width: 380px;
	margin-bottom: 1px;
	position: relative;
}

#u56106-4
{
	z-index: 220;
	width: 153px;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
	-webkit-transform: matrix(-1,0,0,-1,153,25);
	-ms-transform: matrix(-1,0,0,-1,153,25);
	-o-transform: matrix(-1,0,0,-1,153,25);
	transform: matrix(-1,0,0,-1,153,25);
	position: relative;
	margin-right: -10000px;
	margin-top: 357px;
	left: 114px;
}

#u56106-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 357px -10000px 0px 0px;
}

#u56010
{
	z-index: 147;
	width: 380px;
	position: relative;
	margin-right: -10000px;
}

#pu55949-12
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 24px;
}

#u55949-12
{
	z-index: 149;
	width: 275px;
	min-height: 30px;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(-1,0,0,-1,275,100);
	-ms-transform: matrix(-1,0,0,-1,275,100);
	-o-transform: matrix(-1,0,0,-1,275,100);
	transform: matrix(-1,0,0,-1,275,100);
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u55950
{
	z-index: 161;
	width: 20px;
	-webkit-transform: matrix(-1,0,0,-1,20,20);
	-ms-transform: matrix(-1,0,0,-1,20,20);
	-o-transform: matrix(-1,0,0,-1,20,20);
	transform: matrix(-1,0,0,-1,20,20);
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 311px;
}

#u55955
{
	z-index: 163;
	width: 20px;
	-webkit-transform: matrix(-1,0,0,-1,20,20);
	-ms-transform: matrix(-1,0,0,-1,20,20);
	-o-transform: matrix(-1,0,0,-1,20,20);
	transform: matrix(-1,0,0,-1,20,20);
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 311px;
}

#accordionu55908wrapper
{
	min-height: 197px;
	z-index: 185;
	-webkit-transform: matrix(-1,0,0,-1,331,41);
	-ms-transform: matrix(-1,0,0,-1,331,41);
	-o-transform: matrix(-1,0,0,-1,331,41);
	transform: matrix(-1,0,0,-1,331,41);
	margin-bottom: -156px;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
}

#accordionu55908
{
	z-index: 185;
	width: 331px;
	position: relative;
}

#u55909
{
	z-index: 186;
	width: 331px;
	position: relative;
}

#u55917-9
{
	z-index: 187;
	width: 319px;
	min-height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 21px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	background: #000000 url("../../images/stroke.png") no-repeat right center;
}

#u55917-9:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 19px;
	width: 319px;
	margin: 0px;
	background: #2A2A2A url("../../images/stroke.png") no-repeat right center;
}

#u55917-9:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 19px;
	width: 319px;
	margin: 0px;
	background: #2A2A2A url("../../images/stroke.png") no-repeat right center;
}

#u55917-9.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 19px;
	width: 319px;
	margin: 0px;
	background: #2A2A2A url("../../images/stroke.png") no-repeat right center;
}

#u55646-6.AccordionPanelTabOpen p,#u55646-6.AccordionPanelTabOpen span,#u55917-9.AccordionPanelTabOpen p,#u55917-9.AccordionPanelTabOpen span
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u55917-2
{
	letter-spacing: -1px;
}

#u55917-3
{
	letter-spacing: 2px;
}

#u55918
{
	-webkit-transform: matrix(0,1,-1,0,0,0);
	-ms-transform: matrix(0,1,-1,0,0,0);
	-o-transform: matrix(0,1,-1,0,0,0);
	transform: matrix(0,1,-1,0,0,0);
	margin: -2px 3px;
}

#u55919
{
	z-index: 196;
	width: 9px;
}

#u55919_clip
{
	overflow: hidden;
	width: 9px;
	height: 14px;
}

#u55919_img
{
	margin-left: -1px;
	margin-right: -4px;
}

#u55910
{
	z-index: 199;
	width: 142px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	padding: 15px 171px 6px 18px;
}

#u55916-4
{
	z-index: 200;
	width: 142px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u55916-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u55914-4
{
	z-index: 204;
	width: 142px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#u55912-4
{
	z-index: 208;
	width: 142px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#u55913-4
{
	z-index: 212;
	width: 142px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#u55913-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 7px 0px 0px;
}

#u55915-4
{
	z-index: 216;
	width: 142px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#u55914-4:hover,#u55912-4:hover,#u55915-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 6px 0px 0px;
}

#u55650-4:hover p,#u56933-4:hover p,#u56106-4:hover p,#u56106-4:hover h2,#u55916-4:hover p,#u55914-4:hover p,#u55912-4:hover p,#u55913-4:hover p,#u55915-4:hover p
{
	color: #C8C8C8;
	visibility: inherit;
}

#u55879
{
	z-index: 148;
	width: 380px;
	height: 407px;
	border-style: none;
	border-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,380,407);
	-ms-transform: matrix(-1,0,0,-1,380,407);
	-o-transform: matrix(-1,0,0,-1,380,407);
	transform: matrix(-1,0,0,-1,380,407);
	position: relative;
	margin-right: -10000px;
	background: #181E23 url("../../images/bg_boton_contactos2.png") no-repeat center top;
}

#u55985
{
	z-index: 165;
	width: 380px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
}

#u55963
{
	z-index: 167;
	width: 35px;
	-webkit-transform: matrix(-1,0,0,-1,35,35);
	-ms-transform: matrix(-1,0,0,-1,35,35);
	-o-transform: matrix(-1,0,0,-1,35,35);
	transform: matrix(-1,0,0,-1,35,35);
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 326px;
}

#u55979
{
	z-index: 173;
	width: 15px;
	-webkit-transform: matrix(-1,0,0,-1,15,15);
	-ms-transform: matrix(-1,0,0,-1,15,15);
	-o-transform: matrix(-1,0,0,-1,15,15);
	transform: matrix(-1,0,0,-1,15,15);
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 25px;
}

#u55962
{
	z-index: 166;
	width: 380px;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: #899725;
	-webkit-transform: matrix(-1,0,0,-1,380,71);
	-ms-transform: matrix(-1,0,0,-1,380,71);
	-o-transform: matrix(-1,0,0,-1,380,71);
	transform: matrix(-1,0,0,-1,380,71);
	position: relative;
	margin-right: -10000px;
}

#u55962:hover
{
	background-color: #AEC50D;
	margin: 0px -10000px 0px 0px;
}

#u55978-4
{
	z-index: 169;
	width: 190px;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(-1,0,0,-1,190,20);
	-ms-transform: matrix(-1,0,0,-1,190,20);
	-o-transform: matrix(-1,0,0,-1,190,20);
	transform: matrix(-1,0,0,-1,190,20);
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 118px;
}

#u55997
{
	z-index: 175;
	width: 380px;
	position: relative;
	margin-right: -10000px;
}

#u55999
{
	z-index: 177;
	width: 35px;
	-webkit-transform: matrix(-1,0,0,-1,35,35);
	-ms-transform: matrix(-1,0,0,-1,35,35);
	-o-transform: matrix(-1,0,0,-1,35,35);
	transform: matrix(-1,0,0,-1,35,35);
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 326px;
}

#u56001
{
	z-index: 183;
	width: 15px;
	-webkit-transform: matrix(-1,0,0,-1,15,15);
	-ms-transform: matrix(-1,0,0,-1,15,15);
	-o-transform: matrix(-1,0,0,-1,15,15);
	transform: matrix(-1,0,0,-1,15,15);
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 25px;
}

#paccordionu55631,#pu55879,#pu55962,#pu55998
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u55998
{
	z-index: 176;
	width: 380px;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-webkit-transform: matrix(-1,0,0,-1,380,71);
	-ms-transform: matrix(-1,0,0,-1,380,71);
	-o-transform: matrix(-1,0,0,-1,380,71);
	transform: matrix(-1,0,0,-1,380,71);
	position: relative;
	margin-right: -10000px;
}

#u55998:hover
{
	background-color: #2A2A2A;
	margin: 0px -10000px 0px 0px;
}

#u56003-4
{
	z-index: 179;
	width: 190px;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(-1,0,0,-1,190,20);
	-ms-transform: matrix(-1,0,0,-1,190,20);
	-o-transform: matrix(-1,0,0,-1,190,20);
	transform: matrix(-1,0,0,-1,190,20);
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 118px;
}

#slideshowu55410
{
	z-index: 2;
	width: 0.01px;
	height: 499px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u55447
{
	position: absolute;
	width: 380px;
	height: 499px;
	background-color: transparent;
}

#u55447popup
{
	z-index: 3;
}

#u55450
{
	z-index: 4;
	width: 380px;
	height: 499px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u55450_img
{
	margin-left: -410px;
	margin-right: -208px;
}

#u55452
{
	z-index: 6;
	width: 380px;
	height: 499px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u55452_img
{
	margin-left: -448px;
	margin-right: -170px;
}

#u55448
{
	z-index: 8;
	width: 380px;
	height: 499px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u55448_img
{
	margin-left: -444px;
	margin-right: -174px;
}

#u55454
{
	z-index: 10;
	width: 380px;
	height: 499px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u55450_clip,#u55452_clip,#u55448_clip,#u55454_clip
{
	overflow: hidden;
	width: 380px;
	height: 499px;
}

#u55454_img
{
	margin-left: -501px;
	margin-right: -117px;
}

#u55413
{
	position: absolute;
	width: 335px;
	top: 122px;
	left: 39px;
}

#u55413popup
{
	z-index: 12;
}

#u55435-19
{
	z-index: 13;
	width: 335px;
	min-height: 321px;
	font-size: 24px;
	text-align: left;
	line-height: 24px;
	color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u55435-8,#u55435-10,#u55435-11,#u55435-12,#u55435-13
{
	font-weight: 400;
}

#u55435-17
{
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u55435-15
{
	font-size: 50px;
}

#u58538
{
	z-index: 32;
	width: 263px;
}

#u58540
{
	z-index: 33;
	width: 261px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u58539-4
{
	z-index: 34;
	width: 262px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	text-align: center;
	line-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u55435-16
{
	font-size: 50px;
	line-height: 50px;
}

#u55414-19
{
	z-index: 39;
	width: 335px;
	min-height: 321px;
	text-align: left;
	margin-right: -10000px;
	position: relative;
}

#u55414-2,#u55414-4,#u55414-6
{
	font-size: 24px;
	line-height: 24px;
	color: #FFFFFF;
}

#u55414-8,#u55414-10,#u55414-12
{
	font-size: 24px;
	line-height: 24px;
	color: #FFFFFF;
	font-weight: 400;
}

#u55414-17
{
	font-size: 50px;
	line-height: 50px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

#u56062
{
	z-index: 58;
	width: 263px;
}

#u56064
{
	z-index: 59;
	width: 261px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u56063-4
{
	z-index: 60;
	width: 262px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	text-align: center;
	line-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u55428-19
{
	z-index: 65;
	width: 335px;
	min-height: 321px;
	text-align: left;
	margin-right: -10000px;
	position: relative;
}

#u55428-17
{
	font-size: 50px;
	line-height: 50px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

#u58534
{
	z-index: 84;
	width: 263px;
}

#u58536
{
	z-index: 85;
	width: 261px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u58535-4
{
	z-index: 86;
	width: 262px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	text-align: center;
	line-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u55421-17
{
	z-index: 91;
	width: 335px;
	min-height: 321px;
	text-align: left;
	margin-right: -10000px;
	position: relative;
}

#u55428-2,#u55428-4,#u55428-6,#u55421-2,#u55421-4
{
	font-size: 24px;
	line-height: 24px;
	color: #000000;
}

#u55428-8,#u55428-10,#u55428-12,#u55421-6,#u55421-8,#u55421-10
{
	font-size: 24px;
	line-height: 24px;
	color: #000000;
	font-weight: 400;
}

#u55414-13,#u55428-13,#u55421-11
{
	font-size: 50px;
	line-height: 50px;
	font-weight: 400;
}

#u55421-15
{
	font-size: 24px;
	color: #000000;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u55435-14,#u55414-14,#u55428-14,#u55421-12
{
	font-size: 1px;
	line-height: 0px;
}

#u55421-13
{
	font-size: 50px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u58542
{
	z-index: 108;
	width: 263px;
}

#u58543
{
	z-index: 109;
	width: 261px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u58540:hover,#u56064:hover,#u58536:hover,#u58543:hover
{
	background-color: #000000;
	width: 261px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u58544-4
{
	z-index: 110;
	width: 262px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	text-align: center;
	line-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u58539-4:hover,#u56063-4:hover,#u58535-4:hover,#u58544-4:hover
{
	background-color: #2A2A2A;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	margin: -1px -10000px 0px 0px;
}

#u58539-4:hover p,#u58539-4:hover span,#u56063-4:hover p,#u56063-4:hover span,#u58535-4:hover p,#u58535-4:hover span,#u58544-4:hover p,#u58544-4:hover span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u58539-2,#u56063-2,#u58535-2,#u58544-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u58539,#u56063,#u58535,#u58544
{
	color: #FFFFFF;
	line-height: 44px;
}

#u55421-14
{
	font-size: 50px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 50px;
}

.AccordionPanelTab,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* accordion */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#page .verticalspacer
{
	clear: both;
}

