@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
}

#page_position_content
{
	margin-top: 80px;
	margin-bottom: 128px;
}

#u59502
{
	z-index: 52;
	width: 768px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u59503-4
{
	z-index: 58;
	width: 101px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 417px;
}

#u59508-4
{
	z-index: 62;
	width: 111px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 509px;
}

#u59507-4
{
	z-index: 70;
	width: 86px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 226px;
}

#u59503-4:hover,#u59508-4:hover,#u59507-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 32px -10000px 0px 0px;
}

#pu59505
{
	z-index: 53;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u59505
{
	z-index: 0;
	width: 768px;
	-pie-box-shadow: none;
	-moz-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 4px 4px 2px -1px rgba(0, 0, 0, 0.1);
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu59506-4
{
	width: 0.01px;
	position: relative;
	left: 311px;
	padding-top: 32px;
	z-index: 2;
	padding-bottom: 26px;
}

#u59506-4
{
	z-index: 54;
	width: 112px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u59504-4
{
	z-index: 66;
	width: 123px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u59506-4:hover,#u59504-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u59503-4:hover p,#u59508-4:hover p,#u59507-4:hover p,#u59507-4:hover span,#u59506-4:hover p,#u59504-4:hover p,#u59504-4:hover span
{
	color: #000000;
	visibility: inherit;
}

#u59507-2,#u59504-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u59507,#u59504
{
	color: #7F7F7F;
	line-height: 22px;
}

#u59510
{
	z-index: 74;
	width: 170px;
	position: fixed;
	top: 9px;
	left: 28px;
}

#pu59495
{
	width: 0.01px;
	position: relative;
}

#u59495
{
	z-index: 4;
	width: 768px;
	position: relative;
	margin-right: -10000px;
}

#u59496
{
	z-index: 5;
	width: 768px;
	border-style: none;
	border-color: transparent;
	background-color: #DBCB8F;
	background-color: rgba(204, 182, 96, 0.7);
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(204, 182, 96, 0.7);
}

#u59497
{
	z-index: 10;
	width: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 172px;
}

#u59499-4
{
	z-index: 6;
	width: 185px;
	min-height: 19px;
	color: #000000;
	font-size: 18px;
	line-height: 25px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 199px;
}

#u59486-4
{
	z-index: 13;
	width: 128px;
	min-height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 43px;
}

#u59486-2
{
	font-size: 30px;
	text-align: left;
	line-height: 42px;
	color: #000000;
}

#u59485
{
	z-index: 12;
	width: 768px;
	height: 296px;
	border-style: none;
	border-color: transparent;
	background-color: #FFF9E7;
	position: fixed;
	top: 165px;
	left: 0px;
}

#u59494-7
{
	z-index: 17;
	width: 690px;
	min-height: 228px;
	padding-top: 10px;
	color: #000000;
	font-size: 18px;
	line-height: 25px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 43px;
	margin-top: 29px;
	position: relative;
}

#u59509-4
{
	z-index: 48;
	width: 275px;
	min-height: 19px;
	color: #000000;
	font-size: 24px;
	line-height: 34px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 43px;
	margin-top: 81px;
	position: relative;
}

#pu59478
{
	width: 0.01px;
	margin-left: 43px;
	margin-top: 14px;
	position: relative;
}

#u59478
{
	z-index: 24;
	width: 325px;
	position: relative;
	margin-right: -10000px;
}

#u59479
{
	z-index: 25;
	width: 325px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u59481
{
	z-index: 26;
	width: 325px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
}

#u59480
{
	z-index: 27;
	width: 325px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 13px;
	position: relative;
}

#u59482-6
{
	z-index: 28;
	width: 235px;
	min-height: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 17px;
}

#u59483
{
	z-index: 34;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 275px;
	left: 274px;
}

#u59487
{
	z-index: 36;
	width: 325px;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u59490
{
	z-index: 37;
	width: 325px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u59493
{
	z-index: 38;
	width: 325px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
}

#u59481:hover,#u59493:hover
{
	background-color: #BCBCBC;
	margin: 0px;
}

#u59491
{
	z-index: 39;
	width: 325px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 13px;
	position: relative;
}

#u59492-6
{
	z-index: 40;
	width: 235px;
	min-height: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 17px;
}

#u59482-2,#u59492-2
{
	text-align: left;
	color: #BC949C;
}

#u59482-4,#u59492-4
{
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}

#u59488
{
	z-index: 46;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 275px;
	left: 274px;
}

#u59500
{
	z-index: 2;
	width: 768px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u59500_clip
{
	overflow: hidden;
	width: 768px;
	height: 1029px;
}

#u59500_img
{
	margin-left: -516px;
	margin-top: 1px;
	margin-right: -565px;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

#page .verticalspacer
{
	clear: both;
}

