.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u59503-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59508-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59506-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59499-4,#u59494-7,#u59509-4
{
	font-family: open-sans-n4, sans-serif;
}

