.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u59466-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59467-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59470-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59182-4,#u59178-10,#u59184-4
{
	font-family: open-sans-n4, sans-serif;
}

