.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u58624-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58625-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58623-4
{
	font-family: open-sans-n3, sans-serif;
}

#u60729-4
{
	font-family: open-sans-n4, sans-serif;
}

