.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u60742-4
{
	font-family: open-sans-n3, sans-serif;
}

#u60743-4
{
	font-family: open-sans-n3, sans-serif;
}

#u60741-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59879-5
{
	font-family: open-sans-n4, sans-serif;
}

#u59930-5
{
	font-family: open-sans-n4, sans-serif;
}

#u59943-5
{
	font-family: open-sans-n4, sans-serif;
}

#u59951-5
{
	font-family: open-sans-n4, sans-serif;
}

#u59964-5
{
	font-family: open-sans-n4, sans-serif;
}

#u59979-5
{
	font-family: open-sans-n4, sans-serif;
}

#u59989-5
{
	font-family: open-sans-n4, sans-serif;
}

#u60010-5
{
	font-family: open-sans-n4, sans-serif;
}

#u59879,#u59930,#u59943,#u59951,#u59964,#u59979,#u59989,#u60010
{
	font-family: open-sans-condensed-n7, sans-serif;
}

