.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u59416-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59417-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59420-4
{
	font-family: open-sans-n3, sans-serif;
}

#u58941-2,#u58936-2,#u58928-2,#u58924-2,#u58919-2,#u58916-2,#u58908-2
{
	font-family: open-sans-n4, sans-serif;
}

