.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u59446-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59447-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59450-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59119-4,#u59140-10,#u59124-4
{
	font-family: open-sans-n4, sans-serif;
}

