.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u59550-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59555-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59553-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59546-4,#u59541-7,#u59556-4
{
	font-family: open-sans-n4, sans-serif;
}

