.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u60772-4
{
	font-family: open-sans-n3, sans-serif;
}

#u60773-4
{
	font-family: open-sans-n3, sans-serif;
}

#u60771-4
{
	font-family: open-sans-n3, sans-serif;
}

#u60701-9.AccordionPanelTabOpen p,#u60701-9.AccordionPanelTabOpen span,#u60589-4,#u60591-14,#u60701-9
{
	font-family: open-sans-n4, sans-serif;
}

#u60709-4
{
	font-family: open-sans-n4, sans-serif;
}

#u60706-4
{
	font-family: open-sans-n4, sans-serif;
}

#u60708-4
{
	font-family: open-sans-n4, sans-serif;
}

#u60710-4
{
	font-family: open-sans-n4, sans-serif;
}

#u60707-4
{
	font-family: open-sans-n4, sans-serif;
}

#u60590-4,#u60725-4
{
	font-family: open-sans-n4, sans-serif;
}

