.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u60752-4
{
	font-family: open-sans-n3, sans-serif;
}

#u60753-4
{
	font-family: open-sans-n3, sans-serif;
}

#u60751-4
{
	font-family: open-sans-n3, sans-serif;
}

#u60158-5,#u60172-5
{
	font-family: open-sans-n4, sans-serif;
}

#u60158,#u60172
{
	font-family: open-sans-condensed-n7, sans-serif;
}

