.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u59426-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59427-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59430-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59026-4,#u59029-7,#u59037-4
{
	font-family: open-sans-n4, sans-serif;
}

