.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u60762-4
{
	font-family: open-sans-n3, sans-serif;
}

#u60763-4
{
	font-family: open-sans-n3, sans-serif;
}

#u60761-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59801-2
{
	font-family: open-sans-n7, sans-serif;
}

#u59859-4,#u59801-4,#u59801-6,#u59800-7
{
	font-family: open-sans-n4, sans-serif;
}

