.Cuerpo-de-Texto1,.Titulares,.Cuerpo-de-texto-2,.Links-Menu,.Links-Botones,.Links-Botones-Grandes
{
	font-family: open-sans-n3, sans-serif;
}

#u59604-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59608-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59609-4
{
	font-family: open-sans-n3, sans-serif;
}

#u59600-4,#u59584-7,#u59595-4
{
	font-family: open-sans-n4, sans-serif;
}

