@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #E6D5C2;
}

#page
{
	z-index: 1;
	width: 692px;
	min-height: 614px;
	padding: 282px 38px 128px;
}

#u59875
{
	z-index: 2;
	width: 768px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u59875_clip
{
	overflow: hidden;
	width: 768px;
	height: 1371px;
}

#u59875_img
{
	margin-right: -1028px;
	margin-bottom: 24px;
}

#u60740
{
	z-index: 236;
	width: 768px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u60742-4
{
	z-index: 242;
	width: 101px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 417px;
}

#u60743-4
{
	z-index: 246;
	width: 111px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 509px;
}

#u60745-4
{
	z-index: 254;
	width: 86px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 226px;
}

#u60742-4:hover,#u60743-4.MuseLinkActive,#u60745-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 32px -10000px 0px 0px;
}

#pu60744
{
	z-index: 237;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u60744
{
	z-index: 0;
	width: 768px;
	-pie-box-shadow: none;
	-moz-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 4px 4px 2px -1px rgba(0, 0, 0, 0.1);
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu60741-4
{
	width: 0.01px;
	position: relative;
	left: 311px;
	padding-top: 32px;
	z-index: 2;
	padding-bottom: 26px;
}

#u60741-4
{
	z-index: 238;
	width: 112px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u60746-4
{
	z-index: 250;
	width: 123px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u60741-4:hover,#u60746-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u60742-4:hover p,#u60743-4.MuseLinkActive p,#u60745-4:hover p,#u60745-4:hover span,#u60741-4:hover p,#u60746-4:hover p,#u60746-4:hover span
{
	color: #000000;
	visibility: inherit;
}

#u60745-2,#u60746-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u60745,#u60746
{
	color: #7F7F7F;
	line-height: 22px;
}

#u60747
{
	z-index: 258;
	width: 170px;
	position: fixed;
	top: 9px;
	left: 28px;
}

#u59905-4
{
	z-index: 232;
	width: 1199px;
	min-height: 87px;
	color: #000000;
	line-height: 78px;
	font-size: 56px;
	text-align: left;
	position: fixed;
	top: 128px;
	left: 46px;
}

#u59904-4
{
	z-index: 228;
	width: 864px;
	min-height: 56px;
	color: #000000;
	line-height: 28px;
	text-align: left;
	font-size: 28px;
	font-style: italic;
	position: fixed;
	top: 215px;
	left: 46px;
}

#pu59877
{
	width: 0.01px;
	position: relative;
}

#u59877
{
	z-index: 4;
	width: 327px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u59882
{
	z-index: 14;
	width: 325px;
	position: relative;
}

#u59883
{
	z-index: 15;
	width: 325px;
	border-style: none;
	border-color: transparent;
	background-color: #B0757B;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u59885-4
{
	z-index: 16;
	width: 102px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u59884-4
{
	z-index: 20;
	width: 36px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 289px;
}

#u59887-4
{
	z-index: 6;
	width: 325px;
	min-height: 59px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	margin-top: 15px;
	position: relative;
}

#u59886
{
	z-index: 5;
	width: 325px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u59888-4
{
	z-index: 10;
	width: 325px;
	min-height: 59px;
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	margin-left: 1px;
	margin-top: 23px;
	position: relative;
}

#u59878
{
	z-index: 24;
	width: 90px;
	margin-left: 237px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u59879-5
{
	z-index: 25;
	width: 90px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u59880
{
	z-index: 30;
	width: 15px;
	-webkit-transform: matrix(0,-1,1,0,0,15);
	-ms-transform: matrix(0,-1,1,0,0,15);
	-o-transform: matrix(0,-1,1,0,0,15);
	transform: matrix(0,-1,1,0,0,15);
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 69px;
}

#u59922
{
	z-index: 116;
	width: 327px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#u59923
{
	z-index: 126;
	width: 325px;
	position: relative;
}

#u59924
{
	z-index: 127;
	width: 325px;
	border-style: none;
	border-color: transparent;
	background-color: #B0757B;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u59925-4
{
	z-index: 128;
	width: 102px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u59926-4
{
	z-index: 132;
	width: 36px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 289px;
}

#u59933-4
{
	z-index: 118;
	width: 325px;
	min-height: 59px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	margin-top: 15px;
	position: relative;
}

#u59932
{
	z-index: 117;
	width: 325px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u59931-4
{
	z-index: 122;
	width: 325px;
	min-height: 59px;
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	margin-left: 1px;
	margin-top: 23px;
	position: relative;
}

#u59927
{
	z-index: 136;
	width: 90px;
	margin-left: 237px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u59930-5
{
	z-index: 137;
	width: 90px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u59928
{
	z-index: 142;
	width: 15px;
	-webkit-transform: matrix(0,-1,1,0,0,15);
	-ms-transform: matrix(0,-1,1,0,0,15);
	-o-transform: matrix(0,-1,1,0,0,15);
	transform: matrix(0,-1,1,0,0,15);
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 69px;
}

#u59935
{
	z-index: 32;
	width: 327px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u59936
{
	z-index: 42;
	width: 325px;
	position: relative;
}

#u59937
{
	z-index: 43;
	width: 325px;
	border-style: none;
	border-color: transparent;
	background-color: #B0757B;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u59938-4
{
	z-index: 44;
	width: 102px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u59939-4
{
	z-index: 48;
	width: 36px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 289px;
}

#u59946-4
{
	z-index: 34;
	width: 325px;
	min-height: 59px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	margin-top: 15px;
	position: relative;
}

#u59945
{
	z-index: 33;
	width: 325px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u59944-4
{
	z-index: 38;
	width: 325px;
	min-height: 59px;
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	margin-left: 1px;
	margin-top: 23px;
	position: relative;
}

#u59940
{
	z-index: 52;
	width: 90px;
	margin-left: 237px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u59943-5
{
	z-index: 53;
	width: 90px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u59941
{
	z-index: 58;
	width: 15px;
	-webkit-transform: matrix(0,-1,1,0,0,15);
	-ms-transform: matrix(0,-1,1,0,0,15);
	-o-transform: matrix(0,-1,1,0,0,15);
	transform: matrix(0,-1,1,0,0,15);
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 69px;
}

#u59948
{
	z-index: 144;
	width: 327px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#u59955
{
	z-index: 154;
	width: 325px;
	position: relative;
}

#u59956
{
	z-index: 155;
	width: 325px;
	border-style: none;
	border-color: transparent;
	background-color: #B0757B;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u59957-4
{
	z-index: 156;
	width: 102px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u59958-4
{
	z-index: 160;
	width: 36px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 289px;
}

#u59954-4
{
	z-index: 146;
	width: 325px;
	min-height: 59px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	margin-top: 15px;
	position: relative;
}

#u59959
{
	z-index: 145;
	width: 325px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u59949-4
{
	z-index: 150;
	width: 325px;
	min-height: 59px;
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	margin-left: 1px;
	margin-top: 23px;
	position: relative;
}

#u59950
{
	z-index: 164;
	width: 90px;
	margin-left: 237px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u59951-5
{
	z-index: 165;
	width: 90px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u59952
{
	z-index: 170;
	width: 15px;
	-webkit-transform: matrix(0,-1,1,0,0,15);
	-ms-transform: matrix(0,-1,1,0,0,15);
	-o-transform: matrix(0,-1,1,0,0,15);
	transform: matrix(0,-1,1,0,0,15);
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 69px;
}

#pu59935,#pu59961
{
	width: 0.01px;
	margin-top: 67px;
	position: relative;
}

#u59961
{
	z-index: 60;
	width: 327px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u59969
{
	z-index: 70;
	width: 325px;
	position: relative;
}

#u59970
{
	z-index: 71;
	width: 325px;
	border-style: none;
	border-color: transparent;
	background-color: #B0757B;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u59971-4
{
	z-index: 72;
	width: 102px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u59972-4
{
	z-index: 76;
	width: 36px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 289px;
}

#u59968-4
{
	z-index: 62;
	width: 325px;
	min-height: 59px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	margin-top: 15px;
	position: relative;
}

#u59962
{
	z-index: 61;
	width: 325px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u59967-4
{
	z-index: 66;
	width: 325px;
	min-height: 59px;
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	margin-left: 1px;
	margin-top: 23px;
	position: relative;
}

#u59963
{
	z-index: 80;
	width: 90px;
	margin-left: 237px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u59964-5
{
	z-index: 81;
	width: 90px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u59965
{
	z-index: 86;
	width: 15px;
	-webkit-transform: matrix(0,-1,1,0,0,15);
	-ms-transform: matrix(0,-1,1,0,0,15);
	-o-transform: matrix(0,-1,1,0,0,15);
	transform: matrix(0,-1,1,0,0,15);
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 69px;
}

#u59974
{
	z-index: 172;
	width: 327px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#u59981
{
	z-index: 182;
	width: 325px;
	position: relative;
}

#u59982
{
	z-index: 183;
	width: 325px;
	border-style: none;
	border-color: transparent;
	background-color: #B0757B;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u59984-4
{
	z-index: 184;
	width: 102px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u59983-4
{
	z-index: 188;
	width: 36px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 289px;
}

#u59980-4
{
	z-index: 174;
	width: 325px;
	min-height: 59px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	margin-top: 15px;
	position: relative;
}

#u59975
{
	z-index: 173;
	width: 325px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u59985-4
{
	z-index: 178;
	width: 325px;
	min-height: 59px;
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	margin-left: 1px;
	margin-top: 23px;
	position: relative;
}

#u59976
{
	z-index: 192;
	width: 90px;
	margin-left: 237px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u59979-5
{
	z-index: 193;
	width: 90px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u59977
{
	z-index: 198;
	width: 15px;
	-webkit-transform: matrix(0,-1,1,0,0,15);
	-ms-transform: matrix(0,-1,1,0,0,15);
	-o-transform: matrix(0,-1,1,0,0,15);
	transform: matrix(0,-1,1,0,0,15);
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 69px;
}

#pu59987
{
	width: 0.01px;
	margin-top: 68px;
	position: relative;
}

#u59987
{
	z-index: 88;
	width: 327px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u59992
{
	z-index: 98;
	width: 325px;
	position: relative;
}

#u59994
{
	z-index: 99;
	width: 325px;
	border-style: none;
	border-color: transparent;
	background-color: #B0757B;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u59993-4
{
	z-index: 100;
	width: 102px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u59995-4
{
	z-index: 104;
	width: 36px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 289px;
}

#u59997-4
{
	z-index: 90;
	width: 325px;
	min-height: 59px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	margin-top: 15px;
	position: relative;
}

#u59998
{
	z-index: 89;
	width: 325px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u59996-4
{
	z-index: 94;
	width: 325px;
	min-height: 59px;
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	margin-left: 1px;
	margin-top: 23px;
	position: relative;
}

#u59988
{
	z-index: 108;
	width: 90px;
	margin-left: 237px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u59989-5
{
	z-index: 109;
	width: 90px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u59990
{
	z-index: 114;
	width: 15px;
	-webkit-transform: matrix(0,-1,1,0,0,15);
	-ms-transform: matrix(0,-1,1,0,0,15);
	-o-transform: matrix(0,-1,1,0,0,15);
	transform: matrix(0,-1,1,0,0,15);
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 69px;
}

#u60000
{
	z-index: 200;
	width: 327px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#u60003
{
	z-index: 210;
	width: 325px;
	position: relative;
}

#u60005
{
	z-index: 211;
	width: 325px;
	border-style: none;
	border-color: transparent;
	background-color: #B0757B;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u60006-4
{
	z-index: 212;
	width: 102px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u60004-4
{
	z-index: 216;
	width: 36px;
	min-height: 19px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 289px;
}

#u60001-4
{
	z-index: 202;
	width: 325px;
	min-height: 59px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	margin-top: 15px;
	position: relative;
}

#u59887-4:hover,#u59933-4:hover,#u59946-4:hover,#u59954-4:hover,#u59968-4:hover,#u59980-4:hover,#u59997-4:hover,#u60001-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 59px;
	margin: 15px 0px 0px;
}

#u59887-4:hover p,#u59887-4:hover h2,#u59933-4:hover p,#u59933-4:hover h2,#u59946-4:hover p,#u59946-4:hover h2,#u59954-4:hover p,#u59954-4:hover h2,#u59968-4:hover p,#u59968-4:hover h2,#u59980-4:hover p,#u59980-4:hover h2,#u59997-4:hover p,#u59997-4:hover h2,#u60001-4:hover p,#u60001-4:hover h2
{
	color: #B0757B;
	visibility: inherit;
}

#u60011
{
	z-index: 201;
	width: 325px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u59886:hover,#u59932:hover,#u59945:hover,#u59959:hover,#u59962:hover,#u59975:hover,#u59998:hover,#u60011:hover
{
	background-color: #C8C8C8;
	margin: 14px 0px 0px 1px;
}

#u60002-4
{
	z-index: 206;
	width: 325px;
	min-height: 59px;
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	margin-left: 1px;
	margin-top: 23px;
	position: relative;
}

#u60007
{
	z-index: 220;
	width: 90px;
	margin-left: 237px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u60010-5
{
	z-index: 221;
	width: 90px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u59879-5:hover,#u59930-5:hover,#u59943-5:hover,#u59951-5:hover,#u59964-5:hover,#u59979-5:hover,#u59989-5:hover,#u60010-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u59879-5:hover p,#u59879-5:hover h3,#u59879-5:hover span,#u59930-5:hover p,#u59930-5:hover h3,#u59930-5:hover span,#u59943-5:hover p,#u59943-5:hover h3,#u59943-5:hover span,#u59951-5:hover p,#u59951-5:hover h3,#u59951-5:hover span,#u59964-5:hover p,#u59964-5:hover h3,#u59964-5:hover span,#u59979-5:hover p,#u59979-5:hover h3,#u59979-5:hover span,#u59989-5:hover p,#u59989-5:hover h3,#u59989-5:hover span,#u60010-5:hover p,#u60010-5:hover h3,#u60010-5:hover span
{
	color: #2A2A2A;
	visibility: inherit;
}

#u59879,#u59930,#u59943,#u59951,#u59964,#u59979,#u59989,#u60010
{
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
}

#u60008
{
	z-index: 226;
	width: 15px;
	-webkit-transform: matrix(0,-1,1,0,0,15);
	-ms-transform: matrix(0,-1,1,0,0,15);
	-o-transform: matrix(0,-1,1,0,0,15);
	transform: matrix(0,-1,1,0,0,15);
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 69px;
}

#page .verticalspacer
{
	clear: both;
}

