@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #B49499;
}

#page
{
	z-index: 1;
	width: 690px;
	min-height: 768px;
	padding: 128px 35px 128px 43px;
}

#u59729
{
	z-index: 2;
	width: 768px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u59729_clip
{
	overflow: hidden;
	width: 768px;
	height: 1024px;
}

#u59729_img
{
	margin-left: -190px;
	margin-right: -389px;
	margin-bottom: -136px;
}

#u60760
{
	z-index: 91;
	width: 768px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u60762-4
{
	z-index: 97;
	width: 101px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #7F7F7F;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 417px;
}

#u60763-4
{
	z-index: 101;
	width: 111px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #7F7F7F;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 509px;
}

#u60765-4
{
	z-index: 109;
	width: 86px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 226px;
}

#u60762-4:hover,#u60763-4:hover,#u60765-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 32px -10000px 0px 0px;
}

#pu60764
{
	z-index: 92;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u60764
{
	z-index: 0;
	width: 768px;
	-pie-box-shadow: none;
	-moz-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 4px 4px 2px -1px rgba(0, 0, 0, 0.1);
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu60761-4
{
	width: 0.01px;
	position: relative;
	left: 311px;
	padding-top: 32px;
	z-index: 2;
	padding-bottom: 26px;
}

#u60761-4
{
	z-index: 93;
	width: 112px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #7F7F7F;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u60766-4
{
	z-index: 105;
	width: 123px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u60761-4:hover,#u60766-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u60762-4:hover p,#u60763-4:hover p,#u60765-4:hover p,#u60765-4:hover span,#u60761-4:hover p,#u60766-4:hover p,#u60766-4:hover span
{
	color: #000000;
	visibility: inherit;
}

#u60765-2,#u60766-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u60765,#u60766
{
	color: #7F7F7F;
	line-height: 22px;
}

#u60767
{
	z-index: 113;
	width: 170px;
	position: fixed;
	top: 9px;
	left: 28px;
}

#pu59862-4
{
	width: 0.01px;
	margin-left: 15px;
	position: relative;
}

#u59862-4
{
	z-index: 83;
	width: 237px;
	min-height: 45px;
	position: relative;
	margin-right: -10000px;
}

#u59862-2
{
	font-size: 56px;
	text-align: left;
	line-height: 78px;
	color: #000000;
}

#u59860
{
	z-index: 81;
	width: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 237px;
}

#u59859-4
{
	z-index: 77;
	width: 270px;
	min-height: 19px;
	font-size: 30px;
	text-align: left;
	line-height: 42px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 266px;
}

#pu59798
{
	width: 0.01px;
	margin-top: 48px;
	position: relative;
}

#u59798
{
	z-index: 28;
	width: 690px;
	border-style: none;
	border-color: transparent;
	background-color: #F7EAEC;
	position: relative;
	margin-right: -10000px;
}

#u59798_position_content
{
	margin-top: 21px;
	margin-bottom: 53px;
}

#u59799-4
{
	z-index: 29;
	width: 437px;
	min-height: 49px;
	padding-top: 10px;
	font-size: 36px;
	text-align: left;
	line-height: 36px;
	color: #000000;
	margin-left: 21px;
	position: relative;
}

#u59801-8
{
	z-index: 40;
	width: 670px;
	min-height: 65px;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 12px;
	text-align: left;
	line-height: 17px;
	color: #000000;
	margin-top: 448px;
	position: relative;
}

#u59801-2
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u59801-4,#u59801-6
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u59858
{
	z-index: 76;
	width: 690px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
}

#u59800-7
{
	z-index: 33;
	width: 651px;
	min-height: 228px;
	padding-top: 10px;
	font-size: 18px;
	text-align: left;
	line-height: 25px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 21px;
	margin-top: 17px;
	position: relative;
}

#slideshowu59802
{
	z-index: 48;
	width: 0.01px;
	height: 424px;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
}

#u59808
{
	position: absolute;
	width: 690px;
	height: 424px;
	background-color: transparent;
}

#u59808popup
{
	z-index: 49;
}

#u59811
{
	z-index: 50;
	width: 690px;
	height: 424px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u59809
{
	z-index: 52;
	width: 690px;
	height: 424px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u59815
{
	z-index: 54;
	width: 690px;
	height: 424px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u59813
{
	z-index: 56;
	width: 690px;
	height: 424px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u59811_clip,#u59809_clip,#u59815_clip,#u59813_clip
{
	overflow: hidden;
	width: 690px;
	height: 424px;
}

#u59811_img,#u59809_img,#u59815_img,#u59813_img
{
	margin-left: -29px;
	margin-right: -29px;
}

#u59854-6
{
	position: absolute;
	width: 2px;
	min-height: 57px;
	padding: 19px;
	text-align: center;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 162px;
	left: 3px;
}

#u59854-6popup
{
	z-index: 58;
}

#u59855
{
	margin-top: 12px;
	margin-bottom: -12px;
}

#u59856
{
	z-index: 64;
	width: 35px;
}

#u59854-2,#u59854-3
{
	color: #999999;
}

#u59831-6
{
	position: absolute;
	width: 2px;
	min-height: 57px;
	padding: 19px;
	text-align: center;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 162px;
	left: 622px;
}

#u59831-6popup
{
	z-index: 67;
}

#u59854,#u59831
{
	font-size: 1px;
	line-height: 0px;
}

#u59832
{
	margin-top: 11px;
	margin-bottom: -11px;
}

#u59833
{
	z-index: 73;
	width: 35px;
}

#u59856_img,#u59833_img
{
	vertical-align: bottom;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u59874-4
{
	z-index: 87;
	width: 323px;
	min-height: 36px;
	font-size: 30px;
	text-align: left;
	line-height: 42px;
	color: #000000;
	margin-left: 2px;
	margin-top: 38px;
	position: relative;
}

#pu59722
{
	width: 0.01px;
	margin-top: 27px;
	position: relative;
}

#u59722
{
	z-index: 4;
	width: 325px;
	position: relative;
	margin-right: -10000px;
}

#u59723
{
	z-index: 5;
	width: 325px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u59726
{
	z-index: 6;
	width: 325px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
}

#u59724
{
	z-index: 7;
	width: 325px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 13px;
	position: relative;
}

#u59725-6
{
	z-index: 8;
	width: 235px;
	min-height: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 17px;
}

#u59727
{
	z-index: 14;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 275px;
	left: 274px;
}

#u59714
{
	z-index: 16;
	width: 325px;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u59715
{
	z-index: 17;
	width: 325px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u59718
{
	z-index: 18;
	width: 325px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
}

#u59717
{
	z-index: 19;
	width: 325px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 13px;
	position: relative;
}

#u59716-6
{
	z-index: 20;
	width: 235px;
	min-height: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 17px;
}

#u59725-2,#u59716-2
{
	text-align: left;
	color: #BC949C;
}

#u59725-4,#u59716-4
{
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}

#u59719
{
	z-index: 26;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 275px;
	left: 274px;
}

#page .verticalspacer
{
	clear: both;
}

