@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 693px;
	min-height: 767.5499949999996px;
	padding: 128px 29px 128.45000500000037px 46px;
}

#u59415
{
	z-index: 79;
	width: 768px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u59416-4
{
	z-index: 85;
	width: 101px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #7F7F7F;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 417px;
}

#u59417-4
{
	z-index: 89;
	width: 111px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #7F7F7F;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 509px;
}

#u59418-4
{
	z-index: 97;
	width: 86px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 226px;
}

#u59416-4:hover,#u59417-4:hover,#u59418-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 32px -10000px 0px 0px;
}

#pu59421
{
	z-index: 80;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u59421
{
	z-index: 0;
	width: 768px;
	-pie-box-shadow: none;
	-moz-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 4px 4px 2px -1px rgba(0, 0, 0, 0.1);
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu59420-4
{
	width: 0.01px;
	position: relative;
	left: 311px;
	padding-top: 32px;
	z-index: 2;
	padding-bottom: 26px;
}

#u59420-4
{
	z-index: 81;
	width: 112px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #7F7F7F;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u59419-4
{
	z-index: 93;
	width: 123px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u59420-4.MuseLinkActive,#u59419-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u59416-4:hover p,#u59417-4:hover p,#u59418-4:hover p,#u59418-4:hover span,#u59420-4.MuseLinkActive p,#u59419-4:hover p,#u59419-4:hover span
{
	color: #000000;
	visibility: inherit;
}

#u59418-2,#u59419-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u59418,#u59419
{
	color: #7F7F7F;
	line-height: 22px;
}

#u59422
{
	z-index: 101;
	width: 170px;
	position: fixed;
	top: 9px;
	left: 28px;
}

#u58748-6
{
	z-index: 10;
	width: 693px;
	min-height: 110px;
	font-size: 56px;
	text-align: left;
	line-height: 56px;
	color: #000000;
	position: relative;
}

#u58747-6
{
	z-index: 4;
	width: 769px;
	min-height: 91px;
	font-style: italic;
	position: fixed;
	top: 263px;
	left: 48px;
}

#u58747-2
{
	font-size: 28px;
	line-height: 39px;
	color: #000000;
}

#u58747-4
{
	font-size: 28px;
	text-align: left;
	line-height: 28px;
	color: #000000;
}

#pu58807
{
	width: 0.01px;
	margin-left: 125px;
	margin-top: 138px;
	position: relative;
}

#u58807
{
	z-index: 16;
	width: 425px;
	position: relative;
	margin-right: -10000px;
}

#u58809-4
{
	z-index: 18;
	width: 397px;
	min-height: 34px;
	color: #FFFFFF;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 11px;
}

#u58949
{
	z-index: 22;
	width: 527px;
	padding-bottom: 0px;
	margin-left: 71px;
	margin-top: 32px;
	position: relative;
}

#u58937
{
	z-index: 71;
	width: 527px;
	position: relative;
}

#u58938
{
	z-index: 72;
	width: 527px;
	border-style: none;
	border-color: transparent;
	background-color: #F57E94;
	background-color: rgba(242, 71, 103, 0.7);
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(242, 71, 103, 0.7);
}

#u58941-4
{
	z-index: 73;
	width: 414px;
	min-height: 38px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 35px;
}

#u58939
{
	z-index: 77;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 476px;
}

#u58932
{
	z-index: 63;
	width: 527px;
	position: relative;
}

#u58935
{
	z-index: 64;
	width: 527px;
	border-style: none;
	border-color: transparent;
	background-color: #7EB9DE;
	background-color: rgba(72, 156, 209, 0.7);
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(72, 156, 209, 0.7);
}

#u58936-4
{
	z-index: 65;
	width: 414px;
	min-height: 38px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 35px;
}

#u58933
{
	z-index: 69;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 476px;
}

#u58927
{
	z-index: 55;
	width: 527px;
	position: relative;
}

#u58929
{
	z-index: 56;
	width: 527px;
	border-style: none;
	border-color: transparent;
	background-color: #D8DE8F;
	background-color: rgba(200, 209, 96, 0.7);
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(200, 209, 96, 0.7);
}

#u58928-4
{
	z-index: 57;
	width: 414px;
	min-height: 38px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 35px;
}

#u58930
{
	z-index: 61;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 476px;
}

#u58922
{
	z-index: 47;
	width: 527px;
	position: relative;
}

#u58923
{
	z-index: 48;
	width: 527px;
	border-style: none;
	border-color: transparent;
	background-color: #DBCB8F;
	background-color: rgba(204, 182, 96, 0.7);
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(204, 182, 96, 0.7);
}

#u58924-4
{
	z-index: 49;
	width: 414px;
	min-height: 38px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 35px;
}

#u58925
{
	z-index: 53;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 476px;
}

#u58917
{
	z-index: 39;
	width: 527px;
	position: relative;
}

#u58918
{
	z-index: 40;
	width: 527px;
	border-style: none;
	border-color: transparent;
	background-color: #D8ABEF;
	background-color: rgba(200, 136, 233, 0.7);
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(200, 136, 233, 0.7);
}

#u58919-4
{
	z-index: 41;
	width: 414px;
	min-height: 38px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 35px;
}

#u58920
{
	z-index: 45;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 476px;
}

#u58912
{
	z-index: 31;
	width: 527px;
	position: relative;
}

#u58913
{
	z-index: 32;
	width: 527px;
	border-style: none;
	border-color: transparent;
	background-color: #7ED2A2;
	background-color: rgba(72, 192, 123, 0.7);
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(72, 192, 123, 0.7);
}

#u58916-4
{
	z-index: 33;
	width: 414px;
	min-height: 38px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 35px;
}

#u58914
{
	z-index: 37;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 476px;
}

#u58907
{
	z-index: 23;
	width: 527px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u58911
{
	z-index: 24;
	width: 527px;
	border-style: none;
	border-color: transparent;
	background-color: #A6A1BD;
	background-color: rgba(128, 121, 161, 0.7);
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(128, 121, 161, 0.7);
}

#u58908-4
{
	z-index: 25;
	width: 414px;
	min-height: 38px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 35px;
}

#u58941-2,#u58936-2,#u58928-2,#u58924-2,#u58919-2,#u58916-2,#u58908-2
{
	font-size: 26px;
	text-align: left;
	line-height: 36px;
	color: #000000;
	font-family: open-sans, sans-serif;
}

#u58909
{
	z-index: 29;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 476px;
}

#u58745
{
	z-index: 2;
	width: 768px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u58745_clip
{
	overflow: hidden;
	width: 768px;
	height: 1147px;
}

#u58745_img
{
	margin-left: -516px;
	margin-right: -779px;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

#page .verticalspacer
{
	clear: both;
}

